/* CSS Document */
/* CSS Document */

html {
font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;

}
#\30  {
	display:none;
}
/* Hide HTML5 Up and Down arrows. */
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
}

input[type="number"] {
		-moz-appearance: textfield;
}
.top {
	position:relative;
	border-top:1px dotted #ccc;
	border-bottom:1px dotted #ccc;
	background-color:#eee;
	box-shadow:0px 0px 2px 2px #666;
	vertical-align:top;
		padding:5px;
}

table.license td {
	padding:10px;
}

.rose {
	background-color:#E8ADAA !important;
}
.tea-green td {
		color : rgba(0,0,0,.5) !important;
}
.tea-green {
	background-color:rgba(150,255,150,.5) !important;
}

.thumbnail-postage {
	width:50px;
}
.db-search {
		height:20px;
		border:none;
		border-bottom:1px dotted #333;
		margin-right:10px;
		background-color:transparent;
}
.db-no-border-bottom td{
	border-bottom:0px;
}
.db-flag {
	background-position: center center;
	background-size:80% 80%;
	background-repeat: no-repeat;
	border-radius:6px;
	background-clip:border-box;
}
.db-flag i {
	background-color:#ccc;
}
.dba-tax-heading select {
	text-align:center;
	font-size:18px;
	height:40px;
	color:white;
	font-weight:bold;
	background-color:#00A8E6;
}

.dba-value {
	font-weight:bold;
}

.padme-small {
	padding:5px;

}
.db-white {
	color:white !important;
}
.db-logo {
	height:42px;

}

.db-border-bottom {
	border-bottom:1px solid rgb(221, 221, 221);
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}

.db-border-left {
	border-left:1px solid rgb(221, 221, 221);
}
.db-border-right {
	border-right:1px solid rgb(221, 221, 221);
}

.db-vat {
	border:2px dotted #ff9999;
}

/* Styling the bar itself */
#topbar {
		position:fixed;
		bottom: -90px;
		display: block;
		z-index: 99999;
		box-sizing: border-box;
		width: 100%;
		padding: 10px;
		background-color: cornflowerblue;
		color: #fff;
		font-size: 18px;
		text-align: center;
		-webkit-box-shadow: 0 -8px 6px -6px black;
			 -moz-box-shadow: 0 -8px 6px -6px black;
						box-shadow: 0 -8px 6px -6px black;
		transition: bottom 1s;
}
#topbar a{
	color:#fff;
}
/* Hiding the checkbox */
#toggleTop {
		display: none;
}
/* Styling the lables, to show and hide the bar */
#showTop {
		position: fixed;
		z-index: 9999;
		bottom: 0;
		right: 30px;
		display: block;
		padding: 10px;
		background-color: #000000;
		color: #fff;
}
#hideTop {
		float: right;
		display: inline-block;
}
/* Displaying the bar when the checkbox is checked */
#toggleTop:checked + #topbar {
		transition: bottom 1s;
		bottom:0px;
}
