/* CSS Document */
@import url("reset.css");
html {
margin:0;
padding:0;
	color:#333;
font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;

}
* {
	box-sizing: border-box;
}
body {
	margin:0;
	padding:0;
}
fieldset {
	border:1px solid cornflowerblue;
	border-radius: 4px;
}

h1 {
	font-size:18px;
	margin:5px 0;
	color:dodgerblue;
}

legend {
	background-color:white;
	border:1px solid cornflowerblue;
	padding:4px;
	margin-left:5px;
	color:cornflowerblue;
	border-radius: 4px;
}

.container
{
	margin:0 auto;
}

.preferences {
	width:100%;
	margin:0 auto;
	text-align: center;
}
.preferences p {
	line-height:22px;
	margin:10px 0;
}
.preferences .information, .preferences .form {
	width:48%;
	display:inline-block;
	vertical-align:top;

}

.preferences .information {
		text-align:left;
}

.preferences form {
	margin: 0 auto;
	width:100%;
}

.preferences label {
	display:inline-block;
	width:150px;
	text-align:left;
}
.preferences input, .preferences select  {
	display:inline-block;
	min-width:200px;
	border-radius: 4px;
	border:1px solid #666;
	padding:4px;
}
.preferences input[type=checkbox] {
	min-width:20px;

}
.preferences .panels {
	width:100%;
	position:relative;
}
.preferences .panel-left, .preferences .panel-right {
	width:45%;
	display:inline-block;
	text-align:center;
	vertical-align: top;
	margin:5px;
		border:1px solid cornflowerblue;
	border-radius: 4px;
	padding:10px;
}
.preferences .panel-left label, .preferences .panel-right label {
	width:100%;
}

.preferences .panel-left h2, .preferences .panel-right h2 {
	text-align:center;

	background-color:cornflowerblue;
	border:1px solid cornflowerblue;
	padding:4px;
	color:white;
	border-radius: 4px;
	margin:-10px;
	margin-bottom:10px;

}
.preferences .panel-left input, .preferences .panel-right input{
	width:100%;
	min-width:auto;
}
.preferences section.hundredpercent {
	display:block;
	width:100%;
	text-align: center;
	margin:0 auto;

}
.preferences section.hundredpercent input[type=submit] {
	width:95%;
	margin:0px 15px 0 15px;
}
.act-as-label {
	width:150px;
	display:inline-block;
	text-align:left;
}

.preferences input:focus{
	background-color:cornflowerblue;
	color:white;
}

.preferences input:hover, .preferences select:hover{
	border:1px solid cornflowerblue;
}

.preferences input[type=submit], .submit-button{
	width:40%;
	background-color:transparent;
	color:cornflowerblue;
	border:1px solid cornflowerblue;
	border-radius: 4px;
	padding:2px;

	vertical-align: middle;
}
.submit-button {
	min-width:200px;
	width:200px;

}

.preferences input[type=submit]:hover {
	background-color:cornflowerblue;
	color:white;
	border:1px solid white;

}


.preferences section {
	display:block;
	padding:10px 0;
}

.action-menu {
	width:100%;
	text-align:right;

}
.action-menu ul li i{
	color:cornflowerblue;
	padding:3px;
	border:1px dotted #aaa;
}
.action-menu ul li i:hover {
	border:1px solid cornflowerblue;
}
.top {
	position:relative;
	border-top:1px dotted #ccc;
	border-bottom:1px dotted #ccc;
	background-color:#eee;
	box-shadow:0px 0px 2px 2px #666;
	vertical-align:top;
		padding:5px;
}

.logo {
	height:25px;
	width:10%;
	background-image: url("http://www.designburo.nl/images/dsgnbro.jpg");
	background-size: contain;
	background-repeat: no-repeat;
	display:inline-block;
}

.menu {
	position: absolute;
	display:inline-block;
	text-align:right;
	width:90%;


}
.menu ul {
	margin:0;
	padding:2px;
	vertical-align:middle;

}
.menu ul li {

	display:inline-block;
	margin-right:10px;
}
.menu ul li:before {
	content:" ";
}

.menu ul li a {
	color:#000;
	text-decoration:none;
}
.menu ul li a:hover {

	text-shadow:0px 0px 4px cornflowerblue;
}

/* common and top level styles */
#nav span {
display: none;
}
#nav, #nav ul {
list-style: none outside none;

}
#nav {
position: relative;
width: 98%;
	z-index:100;
}
#nav ul.subs {
background-color: #FFFFFF;
box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
color: #333333;
display: none;
right: 0;
padding: 5px;
position: absolute;
top: 20px;
	width:40%;
	text-align:center;
	box-shadow:0px 0px 2px 2px #666;

}
#nav > li {
border-bottom: 5px solid transparent;
display:inline-block;
text-align: left;
-moz-transition: all 300ms ease-in-out 0s;
-ms-transition: all 300ms ease-in-out 0s;
-o-transition: all 300ms ease-in-out 0s;
-webkit-transition: all 300ms ease-in-out 0s;
transition: all 300ms ease-in-out 0s;
}
#nav li a {
display: block;
text-decoration: none;
-moz-transition: color 450ms ease-in-out 0s, background-color 450ms ease-in-out 0s;
-ms-transition: color 450ms ease-in-out 0s, background-color 450ms ease-in-out 0s;
-o-transition: color 450ms ease-in-out 0s, background-color 450ms ease-in-out 0s;
-webkit-transition: color 450ms ease-in-out 0s, background-color 450ms ease-in-out 0s;
transition: color 450ms ease-in-out 0s, background-color 450ms ease-in-out 0s;
white-space: normal;
}
#nav > li > a {
color: #333333;
display: block;
}
#nav > li:hover > a, #nav > a:hover {

}
#nav li.active > a {
font-weight:bold;
}

/* submenu */
#nav li:hover ul.subs {
display: block;
}
#nav ul.subs > li {
display: block;
float: none;
padding: 10px 1%;
vertical-align: top;
width: 33%;
}
#nav ul.subs > li a {
color: #777777;
line-height: 20px;
	display: block;
}
#nav ul li a:hover {

}
#nav ul.subs > li > a {
font-size: 1.3em;
margin-bottom: 10px;
text-transform: uppercase;
	display: block;
}
#nav ul.subs ul {
	margin:0 auto;
	text-align: center;
}
#nav ul.subs ul li {
	display:block;
	text-align:left;
	padding:10px;
	padding-left:10%;
	width:100%;
}
#nav ul.subs ul li a{
	width:80%;
}
#nav ul.subs ul li a:hover {
	background-color:#eee;
}
#nav ul.subs > li li {
float: none;
	display:block;
padding-left: 8px;
-moz-transition: padding 150ms ease-out 0s;
-ms-transition: padding 150ms ease-out 0s;
-o-transition: padding 150ms ease-out 0s;
-webkit-transition: padding 150ms ease-out 0s;
transition: padding 150ms ease-out 0s;
}
#nav ul.subs > li li:hover {
padding-left: 15px;
}
/* responsive rules */
@media all and (max-width : 980px) {
#nav > li {
float: none;
border-bottom: 0;
margin-bottom: 0;
}
#nav ul.subs {
position: relative;
top: 0;
}
#nav li:hover ul.subs {
display: none;
}
#nav li #s1:target + ul.subs,
#nav li #s2:target + ul.subs {
display: block;
}
#nav ul.subs > li {
display: block;
width: auto;
}
}


.header {
	margin:0 auto;
	text-align:center;
	background-color:cornflowerblue;
	padding:10px;
}
.header h1 {
	font-size:18px;
	color:white;
	margin:0;

}

.list {
	width:100%;
	box-shadow:0px 0px 2px 2px #666;

	border:none;

}
.list td {
	padding:3px;
}

.list th {
	text-align:left;
	font-weight:bold;
	padding:5px;
}
.list thead {
	color:white;
	border-bottom:1px dotted #555;
	background-color:cornflowerblue;

}

.list.vat td{
	width:25%;
}
.list .action-items {
	text-align:right;
	width:50%;
}
.list .action-item {
	background-color:transparent;
	border:1px dotted #aaa;
	color:cornflowerblue;
	padding:5px;
}
.list .action-item:hover {
	border:1px solid cornflowerblue;
}
/* Styling the bar itself */
#topbar {
		position:fixed;
		bottom: -90px;
		display: block;
		z-index: 99999;
		box-sizing: border-box;
		width: 100%;
		padding: 10px;
		background-color: cornflowerblue;
		color: #fff;
		font-size: 18px;
		text-align: center;
		-webkit-box-shadow: 0 -8px 6px -6px black;
			 -moz-box-shadow: 0 -8px 6px -6px black;
						box-shadow: 0 -8px 6px -6px black;
		transition: bottom 1s;
}
#topbar a{
	color:#fff;
}
/* Hiding the checkbox */
#toggleTop {
		display: none;
}
/* Styling the lables, to show and hide the bar */
#showTop {
		position: fixed;
		z-index: 9999;
		bottom: 0;
		right: 30px;
		display: block;
		padding: 10px;
		background-color: #000000;
		color: #fff;
}
#hideTop {
		float: right;
		display: inline-block;
}
/* Displaying the bar when the checkbox is checked */
#toggleTop:checked + #topbar {
		transition: bottom 1s;
		bottom:0px;
}
.content {
padding:20px;
	box-shadow:0px 0px 2px 2px rgba(0,0,0,0.4);

}
