	<form class="uk-form" method="post" action="-{-$DBA_URL-}-contacts/detail.html">
		<input type="hidden" name="module" value="contacts">
		<input type="hidden" name="action" value="detail">
		<div class="uk-overflow-container">
			<table class="uk-table uk-table-striped uk-table-condensed uk-table-hover" style="margin-top:0px;">
				<caption>Contacts list</caption>
					<thead>
						<tr>
							<th></th>
							<th>-{-$smarty.const._GENERAL_INITIALS-}-</th>
							<th>-{-$smarty.const._GENERAL_TITLE-}-</th>
							<th>-{-$smarty.const._GENERAL_NAME-}-</th>
							<th>-{-$smarty.const._GENERAL_PHONE-}-</th>
							<th>-{-$smarty.const._GENERAL_EMAIL-}-</th>
							<th>-{-$smarty.const._GENERAL_SKYPE-}-</th>
							<th>-{-$smarty.const._GENERAL_LAST_MODIFIED-}-</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						-{-foreach from=$contacts item=value-}-
							<tr class="uk-table-middle">
							<td><image src="-{-$value.photo-}-" class="uk-thumbnail uk-thumbnail-mini thumbnail-postage"></image></td>
							<td>-{-$value.initials-}-</td>
							<td>-{-$value.title-}-</td>
							<td>-{-$value.fname-}- -{-$value.lname-}-</td>
							<td><a href="tel://-{-$value.phone-}-">-{-$value.phone-}-</a></td>
							<td><a href="mailto:-{-$value.email-}-">-{-$value.email-}-</a></td>
							<td><a href="skype:-{-$value.skype-}-?chat">-{-$value.skype-}-</a></td>
							<td class="uk-text-small">-{-$value.modified-}-</td>
							<td class="uk-text-right">
								<div class="uk-button-group">
									<button class="uk-button" type="submit" name="view" value="-{-$value.id-}-"><i class="uk-icon-search"></i>&nbsp;</button>
									<button class="uk-button" type="submit" name="edit" value="-{-$value.id-}-"><i class="uk-icon-pencil-square"></i>&nbsp;</button>
								</div>
							</td>
							</tr>
							-{-/foreach-}-
					</tbody>
				</table>
			</div>
		</form>
