<form class="uk-form" method="post" action="-{-$DBA_URL-}-orders/detail.html">
<input type="hidden" name="module" value="orders">
<input type="hidden" name="action" value="detail">
<div class="uk-overflow-container">
	<table class="uk-table uk-table-striped uk-table-condensed uk-table-hover" style="margin-top:0px;">
		<caption>Orders list</caption>
			<thead>
				<tr>
					<th>-{-$smarty.const._ORDERS_LIST_ORDER_NR-}-</th>
					<th>-{-$smarty.const._ORDERS_LIST_ORDER_DATE-}-</th>
					<th>-{-$smarty.const._ORDERS_LIST_ORDER_TOTAL-}-</th>
					<th>-{-$smarty.const._ORDERS_LIST_ORDER_OPEN-}-</th>
					<th>-{-$smarty.const._ORDERS_LIST_ORDER_STATUS-}-</th>
					<th>-{-$smarty.const._ORDERS_LIST_ORDER_AGE-}-</th>
					<th class="uk-text-right">-{-$smarty.const._ORDERS_LIST_ORDER_ACTIONS-}-</th>
				</tr>
			</thead>
			<tbody>
				-{-foreach from=$orders item=value-}-
					<tr class="-{-$value.color-}- uk-table-middle">
					<td>-{-$value.order_name-}-</td>
					<td>-{-$value.date-}-</td>
					<td>-{-$value.amount_in-}-</td>
					<td>-{-$value.order_open-}-</td>
					<td>-{-$value.status-}-</td>
					<td>-{-if $value.status != "closed"-}--{-$value.order_age-}- -{-if $value.order_age > $prefs.paydays-}-(-{-math equation="x - y" x=$value.order_age y=$prefs.paydays-}- day late)-{-/if-}--{-/if-}-</td>
					<td class="uk-text-right">
						<div class="uk-button-group">
						-{-if $value.order_age > $prefs.paydays && $value.status != "closed" -}-
						<button class="uk-button" type="submit" name="reminder" value="-{-$value.id-}-" title="-{-$smarty.const._ORDERS_LIST_ACTIONS_REMINDER-}-"><i class="uk-icon-envelope-o"></i>&nbsp;</button>
						-{-/if-}-
							<button class="uk-button" type="submit" name="pdf" value="-{-$value.id-}-" title="-{-$smarty.const._ORDERS_LIST_ACTIONS_PDF-}-"><i class="uk-icon-file-pdf-o"></i>&nbsp;</button>
							<button class="uk-button" type="submit" name="view" value="-{-$value.id-}-" title="-{-$smarty.const._ORDERS_LIST_ACTIONS_VIEW-}-"><i class="uk-icon-search"></i>&nbsp;</button>
							<button class="uk-button" type="submit" name="edit" value="-{-$value.id-}-" title="-{-$smarty.const._ORDERS_LIST_ACTIONS_EDIT-}-"><i class="uk-icon-pencil-square"></i>&nbsp;</button>
							<button class="uk-button" type="submit" name="print" value="-{-$value.id-}-" title="-{-$smarty.const._ORDERS_LIST_ACTIONS_PRINT-}-"><i class="uk-icon-print"></i>&nbsp;</button>
							<button class="uk-button" type="submit" name="payment" value="-{-$value.id-}-" title="-{-$smarty.const._ORDERS_LIST_ACTIONS_PAYMENT-}-"><i class="uk-icon-usd"></i>&nbsp;</button>
						</div>
					</td>
					</tr>
					-{-/foreach-}-
			</tbody>
		</table>
	</div>
</form>
