-{-foreach $notes as $note-}-
	<article class="uk-comment">
		<header class="uk-comment-header">
			<h4 class="uk-comment-title">-{-if $note.type == "email"-}-<i class="uk-icon-envelope-o"></i>-{-else-}-<i class="uk-icon-sticky-note-o"></i>-{-/if-}- -{-$note.name-}-</h4>
			-{-if $note.type == "email"-}-
				<div class="uk-scrollable-box">
			-{-else-}-
				<div>
			-{-/if-}-
				-{-$note.note-}-</div>
			<div class="uk-comment-meta">
				<div class="uk-button-group uk-align-right uk-margin-remove">
				<form method="post" action="-{-$DBA_URL-}-customers/view.html">
					<input type="hidden" name="module" value="customers">
					<input type="hidden" name="action" value="notes">
					<input type="hidden" name="id" value="-{-$id-}-">
					<input type="hidden" name="note_return" value="-{-$DBA_URL-}-customers/view.html">
					-{-if !$note.type == "email" || !$note.type == "system"-}-
					<button class="uk-button uk-button-link" type="submit" name="edit_note" value="-{-$note.id-}-" title="-{-$smarty.const._GENERAL_EDIT-}-">
					-{-/if-}-
						<i class="uk-icon-pencil"></i>
					</button>
					<button class="uk-button uk-button-link" type="submit" name="delete_note" value="-{-$note.id-}-" title="-{-$smarty.const._GENERAL_DELETE-}-"><i class="uk-icon-times"></i></button>
					</form>
				</div>
			-{-$note.type-}- | -{-$note.modified-}-
			</div>
		</header>
	</article>
-{-/foreach-}-
