<div class="uk-grid" data-uk-grid-margin>
<div class="uk-width-large-1-2 uk-width-medium-1-2 uk-small-1-1">
	<div class="uk-panel-box uk-panel-hover">
		<h1 class="uk-panel-title">-{-$smarty.const._TAXES_1_QUARTER-}-</h1>
		-{-if $taxes.orders.first_quarter.status==false && $taxes.expenses.first_quarter.status==false-}-
		<p>-{-$smarty.const._TAXES_NOTHING-}-</p>
		-{-else-}-
		<table class="uk-table">
			<thead>
				<tr>
					<th class="uk-text-small"></th>
					<th class="uk-text-small">-{-$smarty.const._TAXES_IN_VAT-}-</th>
					<th class="uk-text-small">-{-$smarty.const._TAXES_EX_VAT-}-</th>
					<th class="uk-text-small">-{-$smarty.const._TAXES_VAT-}-</th>
					-{-foreach from=$taxes.orders.first_quarter.vats item=vat-}-
						<th class="uk-text-small">-{-$vat.name-}-</th>
					-{-/foreach-}-
				</tr>
			</thead>
			<tfoot>
				<tr>
					<th class="uk-text-small">-{-$smarty.const._TAXES_TOTALS-}-</th>
					<td class="uk-text-small"><i class="uk-icon--{-$prefs.currency-}-"></i> -{-$taxes.totals.first_quarter.amount_in-}-</td>
					<td class="uk-text-small"><i class="uk-icon--{-$prefs.currency-}-"></i> -{-$taxes.totals.first_quarter.amount_ex-}-</td>
					<td class="uk-table-middle db-vat"><i class="uk-icon--{-$prefs.currency-}-"></i> -{-$taxes.totals.first_quarter.amount_vat-}-</td>
				</td>
			</tfoot>
			<tbody>
				<tr>
					<th class="uk-text-small">Orders</th>
					<td class="uk-text-small"><i class="uk-icon--{-$prefs.currency-}-"></i> -{-$taxes.orders.first_quarter.total_in-}-</td>
					<td class="uk-text-small"><i class="uk-icon--{-$prefs.currency-}-"></i> -{-$taxes.orders.first_quarter.total_ex-}-</td>
					<td class="uk-text-small"><i class="uk-icon--{-$prefs.currency-}-"></i> -{-$taxes.orders.first_quarter.total_vat-}-</td>
					-{-foreach from=$taxes.orders.first_quarter.vats item=vat-}-
					<td class="uk-text-small"><i class="uk-icon--{-$prefs.currency-}-"></i> -{-$vat.vat-}-</td>
					-{-/foreach-}-
				</tr>
				<tr>
					<th class="uk-text-small">Expenses</th>
					<td class="uk-text-small"><i class="uk-icon--{-$prefs.currency-}-"></i> -{-$taxes.expenses.first_quarter.total_in-}-</td>
					<td class="uk-text-small"><i class="uk-icon--{-$prefs.currency-}-"></i> -{-$taxes.expenses.first_quarter.total_ex-}-</td>
					<td class="uk-text-small"><i class="uk-icon--{-$prefs.currency-}-"></i> -{-$taxes.expenses.first_quarter.total_vat-}-</td>
				</tr>
			</tbody>
		</table>
		-{-/if-}-
	</div>
</div>

<div class="uk-width-large-1-2 uk-width-medium-1-2 uk-small-1-1">
	<div class="uk-panel-box uk-panel-hover">
		<h1 class="uk-panel-title">-{-$smarty.const._TAXES_2_QUARTER-}-</h1>
		-{-if $taxes.orders.second_quarter.status==false && $taxes.expenses.second_quarter.status==false-}-
		<p>-{-$smarty.const._TAXES_NOTHING-}-</p>
		-{-else-}-
		<table class="uk-table">
			<thead>
				<tr>
					<th class="uk-text-small"></th>
					<th class="uk-text-small">-{-$smarty.const._TAXES_IN_VAT-}-</th>
					<th class="uk-text-small">-{-$smarty.const._TAXES_EX_VAT-}-</th>
					<th class="uk-text-small">-{-$smarty.const._TAXES_VAT-}-</th>
				</tr>
			</thead>
			<tfoot>
				<tr>
					<th class="uk-text-small">-{-$smarty.const._TAXES_TOTALS-}-</th>
					<td class="uk-text-small"><i class="uk-icon--{-$prefs.currency-}-"></i> -{-$taxes.totals.second_quarter.amount_in-}-</td>
					<td class="uk-text-small"><i class="uk-icon--{-$prefs.currency-}-"></i> -{-$taxes.totals.second_quarter.amount_ex-}-</td>
					<td class="uk-table-middle db-vat"><i class="uk-icon--{-$prefs.currency-}-"></i> -{-$taxes.totals.second_quarter.amount_vat-}-</td>
				</td>
			</tfoot>
			<tbody>
				<tr>
					<th class="uk-text-small">Orders</th>
					<td class="uk-text-small"><i class="uk-icon--{-$prefs.currency-}-"></i> -{-$taxes.orders.second_quarter.total_in-}-</td>
					<td class="uk-text-small"><i class="uk-icon--{-$prefs.currency-}-"></i> -{-$taxes.orders.second_quarter.total_ex-}-</td>
					<td class="uk-text-small"><i class="uk-icon--{-$prefs.currency-}-"></i> -{-$taxes.orders.second_quarter.total_vat-}-</td>
				</tr>
				<tr>
					<th class="uk-text-small">Expenses</th>
					<td class="uk-text-small"><i class="uk-icon--{-$prefs.currency-}-"></i> -{-$taxes.expenses.second_quarter.total_in-}-</td>
					<td class="uk-text-small"><i class="uk-icon--{-$prefs.currency-}-"></i> -{-$taxes.expenses.second_quarter.total_ex-}-</td>
					<td class="uk-text-small"><i class="uk-icon--{-$prefs.currency-}-"></i> -{-$taxes.expenses.second_quarter.total_vat-}-</td>
				</tr>
			</tbody>
		</table>
		-{-/if-}-
	</div>
</div>

<div class="uk-width-large-1-2 uk-width-medium-1-2 uk-small-1-1">
	<div class="uk-panel-box uk-panel-hover">
		<h1 class="uk-panel-title">-{-$smarty.const._TAXES_3_QUARTER-}-</h1>
		-{-if $taxes.orders.third_quarter.status==false && $taxes.expenses.third_quarter.status==false-}-
		<p>-{-$smarty.const._TAXES_NOTHING-}-</p>
		-{-else-}-
		<table class="uk-table">
			<thead>
				<tr>
					<th class="uk-text-small"></th>
					<th class="uk-text-small">-{-$smarty.const._TAXES_IN_VAT-}-</th>
					<th class="uk-text-small">-{-$smarty.const._TAXES_EX_VAT-}-</th>
					<th class="uk-text-small">-{-$smarty.const._TAXES_VAT-}-</th>
				</tr>
			</thead>
			<tfoot>
				<tr>
					<th class="uk-text-small">-{-$smarty.const._TAXES_TOTALS-}-</th>
					<td class="uk-text-small"><i class="uk-icon--{-$prefs.currency-}-"></i> -{-$taxes.totals.third_quarter.amount_in-}-</td>
					<td class="uk-text-small"><i class="uk-icon--{-$prefs.currency-}-"></i> -{-$taxes.totals.third_quarter.amount_ex-}-</td>
					<td class="uk-table-middle db-vat"><i class="uk-icon--{-$prefs.currency-}-"></i> -{-$taxes.totals.third_quarter.amount_vat-}-</td>
				</td>
			</tfoot>
			<tbody>
				<tr>
					<th class="uk-text-small">Orders</th>
					<td class="uk-text-small"><i class="uk-icon--{-$prefs.currency-}-"></i> -{-$taxes.orders.third_quarter.total_in-}-</td>
					<td class="uk-text-small"><i class="uk-icon--{-$prefs.currency-}-"></i> -{-$taxes.orders.third_quarter.total_ex-}-</td>
					<td class="uk-text-small"><i class="uk-icon--{-$prefs.currency-}-"></i> -{-$taxes.orders.third_quarter.total_vat-}-</td>
				</tr>
				<tr>
					<th class="uk-text-small">Expenses</th>
					<td class="uk-text-small"><i class="uk-icon--{-$prefs.currency-}-"></i> -{-$taxes.expenses.third_quarter.total_in-}-</td>
					<td class="uk-text-small"><i class="uk-icon--{-$prefs.currency-}-"></i> -{-$taxes.expenses.third_quarter.total_ex-}-</td>
					<td class="uk-text-small"><i class="uk-icon--{-$prefs.currency-}-"></i> -{-$taxes.expenses.third_quarter.total_vat-}-</td>
				</tr>
			</tbody>
		</table>
		-{-/if-}-
	</div>
</div>

<div class="uk-width-large-1-2 uk-width-medium-1-2 uk-small-1-1">
	<div class="uk-panel-box uk-panel-hover">
		<h1 class="uk-panel-title">-{-$smarty.const._TAXES_4_QUARTER-}-</h1>
		-{-if $taxes.orders.fourth_quarter.status==false && $taxes.expenses.fourth_quarter.status==false-}-
		<p>-{-$smarty.const._TAXES_NOTHING-}-</p>
		-{-else-}-
		<table class="uk-table uk-table-condensed">
			<thead>
				<tr>
					<th class="uk-text-small"></th>
					<th class="uk-text-small">-{-$smarty.const._TAXES_IN_VAT-}-</th>
					<th class="uk-text-small">-{-$smarty.const._TAXES_EX_VAT-}-</th>
					<th class="uk-text-small">-{-$smarty.const._TAXES_VAT-}-</th>
					-{-foreach from=$taxes.orders.fourth_quarter.vats item=vat-}-
						<th class="uk-text-small">-{-$vat.name-}-</th>
					-{-/foreach-}-
				</tr>
			</thead>
			<tfoot>
				<tr>
					<th class="uk-text-small">-{-$smarty.const._TAXES_TOTALS-}-</th>
					<td class="uk-text-small"><i class="uk-icon--{-$prefs.currency-}-"></i> -{-$taxes.totals.fourth_quarter.amount_in-}-</td>
					<td class="uk-text-small"><i class="uk-icon--{-$prefs.currency-}-"></i> -{-$taxes.totals.fourth_quarter.amount_ex-}-</td>
					<td class="uk-table-middle uk-text-small db-vat"><i class="uk-icon--{-$prefs.currency-}-"></i> -{-$taxes.totals.fourth_quarter.amount_vat-}-</td>
				</td>
			</tfoot>
			<tbody>
				<tr>
					<th class="uk-text-small">Orders</th>
					<td class="uk-text-small"><i class="uk-icon--{-$prefs.currency-}-"></i> -{-$taxes.orders.fourth_quarter.total_in-}-</td>
					<td class="uk-text-small"><i class="uk-icon--{-$prefs.currency-}-"></i> -{-$taxes.orders.fourth_quarter.total_ex-}-</td>
					<td class="uk-text-small"><i class="uk-icon--{-$prefs.currency-}-"></i> -{-$taxes.orders.fourth_quarter.total_vat-}-</td>
					-{-foreach from=$taxes.orders.fourth_quarter.vats item=vat-}-
					<td class="uk-text-small"><i class="uk-icon--{-$prefs.currency-}-"></i> -{-$vat.vat-}-</td>
					-{-/foreach-}-
				</tr>
				<tr>
					<th class="uk-text-small">Expenses</th>
					<td class="uk-text-small"><i class="uk-icon--{-$prefs.currency-}-"></i> -{-$taxes.expenses.fourth_quarter.total_in-}-</td>
					<td class="uk-text-small"><i class="uk-icon--{-$prefs.currency-}-"></i> -{-$taxes.expenses.fourth_quarter.total_ex-}-</td>
					<td class="uk-text-small"><i class="uk-icon--{-$prefs.currency-}-"></i> -{-$taxes.expenses.fourth_quarter.total_vat-}-</td>
				</tr>
			</tbody>
		</table>
		-{-/if-}-
	</div>
</div>
</div>
