<div class="uk-width-large-1-4 uk-width-small-1-1">
	<div class="uk-panel uk-panel-box uk-panel-box-secondary">
		<h1 class="uk-panel-title">-{-$smarty.const._COMPANY_INFO_HEADING-}-</h1>
		<p>-{-$smarty.const._COMPANY_INFO_TEXT-}-</p>
	</div>
</div>
<div class="uk-width-large-3-4 uk-width-small-1-1">
	<div class="uk-panel uk-panel-box">
		<form method="POST" class="uk-form uk-form-stacked" action="-{-$DBA_URL-}-preferences/company.html" enctype="multipart/form-data">
			<fieldset>
				<legend class="uk-text-center">-{-$smarty.const._COMPANY_LEGEND-}-</legend>
				<div class="uk-grid uk-grid-small uk-grid-divider">
					<div class="uk-width-large-1-2 uk-with-small-1-1">
						<fieldset>
							<legend class="uk-text-center">-{-$smarty.const._COMPANY_PANEL_GENERAL-}-</legend>
							<input type="hidden" name="module" value="company">
							<input type="hidden" name="action" value="-{-$action-}-">
							<input type="hidden" name="id" value="-{-$company.id-}-">
							<section class="uk-form-row">
							<label class="uk-form-label" for="name">-{-$smarty.const._GENERAL_NAME-}-</label>
							<div class="uk-form-controls">
								<input class="uk-width-1-1 uk-form-small" id="name" name="name" value="-{-$company.name-}-" required>
							</div>
							</section>
							<section class="uk-form-row">
							<label class="uk-form-label" for="address_1">-{-$smarty.const._GENERAL_ADDR1-}-</label>
							<div class="uk-form-controls">
								<input class="uk-width-1-1 uk-form-small" id="address_1" name="address_1" value="-{-$company.address_1-}-" required>
							</div>
							</section>
							<section class="uk-form-row">
							<label class="uk-form-label" for="address_2">-{-$smarty.const._GENERAL_ADDR2-}-</label>
							<div class="uk-form-controls">
								<input class="uk-width-1-1 uk-form-small" id="address_2" name="address_2" value="-{-$company.address_2-}-">
							</div>
							</section>
							<section class="uk-form-row">
							<label class="uk-form-label" for="pcode">-{-$smarty.const._GENERAL_ZIP-}-</label>
							<div class="uk-form-controls">
								<input class="uk-width-1-1 uk-form-small" id="pcode" name="pcode" value="-{-$company.pcode-}-" required>
							</div>
							</section>
							<section class="uk-form-row">
							<label class="uk-form-label" for="city">-{-$smarty.const._GENERAL_CITY-}-</label>
							<div class="uk-form-controls">
								<input class="uk-width-1-1 uk-form-small" id="city" name="city" value="-{-$company.city-}-" required>
							</div>
							</section>
							<section class="uk-form-row">
							<label class="uk-form-label" for="country">-{-$smarty.const._GENERAL_COUNTRY-}-</label>
							<div class="uk-form-controls">
								<input class="uk-width-1-1 uk-form-small" id="country" name="country" value="-{-$company.country-}-" required>
							</div>
							</section>
							<section class="uk-form-row">
							<label class="uk-form-label" for="country">-{-$smarty.const._GENERAL_LOGO-}-</label>
							<div class="uk-form-controls">
							-{-if $company.logo-}-<figure class="uk-thumbnail uk-thumbnail-mini"><img src="-{-$company.logo-}-"></figure>-{-/if-}-
								<input class="uk-width-1-1 uk-form-small" type="file" id="logo" name="logo" value="">
							</div>
							</section>

						</fieldset>
					</div>
					<div class="uk-width-large-1-2 uk-width-small-1-1">
					<fieldset>
						<legend class="uk-text-center">-{-$smarty.const._COMPANY_PANEL_CONTACT-}-</legend>
						<section class="uk-form-row">
						<label class="uk-form-label" for="contact">-{-$smarty.const._GENERAL_CONTACT-}-</label>
						<div class="uk-form-controls">
							<input class="uk-width-1-1 uk-form-small" id="contact" name="contact" value="-{-$company.contact-}-" required>
						</div>
						</section>
						<section class="uk-form-row">
						<label class="uk-form-label" for="phone">-{-$smarty.const._GENERAL_PHONE-}-</label>
						<div class="uk-form-controls">
							<input class="uk-width-1-1 uk-form-small" id="phone" name="phone" value="-{-$company.phone-}-" required>
						</div>
						</section>
						<section class="uk-form-row">
						<label class="uk-form-label" for="email">-{-$smarty.const._GENERAL_EMAIL-}-</label>
						<div class="uk-form-controls">
							<input class="uk-width-1-1 uk-form-small" id="email" name="email" value="-{-$company.email-}-">
						</div>
						</section>
						<section class="uk-form-row">
						<label class="uk-form-label" for="website">-{-$smarty.const._GENERAL_WEBSITE-}-</label>
						<div class="uk-form-controls">
							<input class="uk-width-1-1 uk-form-small" id="website" name="website" value="-{-$company.website-}-" required>
						</div>
						</section>
						<section class="uk-form-row">
						<label class="uk-form-label" for="skype">-{-$smarty.const._GENERAL_SKYPE-}-</label>
						<div class="uk-form-controls">
							<input class="uk-width-1-1 uk-form-small" id="skype" name="skype" value="-{-$company.skype-}-" required>
						</div>
						</section>
					</fieldset>
					<fieldset class="uk-form uk-form-horizontal">
						<legend class="uk-text-center">-{-$smarty.const._COMPANY_PANEL_COMMERCE-}-</legend>
						<section class="uk-form-row">
							<label class="uk-form-label" for="vat">-{-$smarty.const._GENERAL_VAT-}-</label>
							<div class="uk-form-controls">
								<input class="uk-width-1-1 uk-form-small" id="vat" name="vat" value="-{-$company.vat-}-" required>
							</div>
							</section>
							<section class="uk-form-row">
							<label class="uk-form-label" for="coc">-{-$smarty.const._GENERAL_COC-}-</label>
							<div class="uk-form-controls">
								<input class="uk-width-1-1 uk-form-small" id="coc" name="coc" value="-{-$company.coc-}-" required>
							</div>
							</section>
							<section class="uk-form-row">
							<label class="uk-form-label" for="bank">-{-$smarty.const._GENERAL_BANK-}-</label>
							<div class="uk-form-controls">
								<input class="uk-width-1-1 uk-form-small" id="bank" name="bank" value="-{-$company.bank-}-" required>
							</div>
							</section>
							<section class="uk-form-row">
							<label class="uk-form-label" for="swift">-{-$smarty.const._GENERAL_SWIFTCODE-}-</label>
							<div class="uk-form-controls">
								<input class="uk-width-1-1 uk-form-small" id="swift" name="swift" value="-{-$company.swift-}-" required>
							</div>
							</section>
						</fieldset>
					</div>
				</div><p></p>
					<section class="uk-form-row">
						<div class="uk-form-icon uk-width-1-1">
							<i class="uk-icon-arrow-circle-right db-white"></i>
							<input type="submit" class="uk-button uk-button-primary uk-width-1-1 db-white" value="-{-$smarty.const._POST_SAVE-}-">
						</div>
					</section>


			</fieldset>
		</form>
	</div>
</div>
