	<div class="uk-width-1-1">
		<div class="uk-panel uk-panel-box uk-panel-box-secondary uk-width-1-1">
			<div class="uk-grid" data-uk-grid-match="{target:'.uk-panel'}">
				<div class="uk-width-small-1-1 uk-width-medium-2-10">
					<div class="uk-panel uk-panel-box-secondary">
						<div class="uk-thumbnail uk-thumbnail-small">
							<img src="-{-$contact.photo-}-" alt="-{-$contact.fname-}- -{-$contact.lname-}-">
							<div class="uk-thumbnail-caption">-{-$contact.title-}- -{-$contact.fname-}- -{-$contact.lname-}-</div>
						</div>
					</div>
				</div>
				<div class="uk-width-small-1-1 uk-width-medium-8-10">
					<div class="uk-panel uk-panel-box uk-panel-box-secondary">
						<h1 class="uk-panel-title">-{-$smarty.const._CONTACT_VIEW_DETAIL-}-</h1>
						<table class="uk-table uk-table-condensed db-no-border-bottom">
							<tbody>
								<tr>
									<td>
										<table class="uk-table uk-table-condensed db-no-border-bottom">
											<caption><span class="uk-text-bold uk-text-primary">Customer</span> -{-$smarty.const._GENERAL_ADDED-}- : -{-$customer.created|date_format:"%d-%m-%Y"-}-. -{-$smarty.const._GENERAL_LAST_MODIFIED-}- : -{-$customer.modified|date_format:"%d-%m-%Y"-}-.</caption>
											<tbody>
												<tr>
													<td>-{-$smarty.const._GENERAL_NAME-}-</td><td><a href="-{-$DBA_URL-}-find/customer/-{-$customer.id-}-.html">-{-$customer.name-}-</a></td>
												</tr>
												<tr>
													<td>-{-$smarty.const._GENERAL_ADDRESS-}-</td><td>-{-$customer.address_1-}--{-if $customer.address_2!=""-}-, -{-$customer.address_2-}--{-/if-}-<br>
														-{-$customer.pcode-}-, -{-$customer.city-}-<br>-{-$customer.country-}-</td>
												</tr>
												<tr>
													<td>-{-$smarty.const._CONTACT_CONTACT-}- </td>
													<td>
														<i class="uk-icon-phone uk-icon-justify"></i>&nbsp;&nbsp;<a href="tel:-{-$customer.phone-}-">-{-$customer.phone-}-</a><br>
														<i class="uk-icon-envelope-o uk-icon-justify"></i>&nbsp;&nbsp;<a href="mailto:-{-$customer.email-}-" data-uk-modal=""> -{-$customer.email-}-</a><br>
														<i class="uk-icon-globe uk-icon-justify"></i>&nbsp;&nbsp;<a href="-{-$customer.website-}-" target="_blank"> -{-$customer.website-}-</a>
													</td>
												</tr>
											</tbody>
										</table>
									</td>
									<td>
										<table class="uk-table uk-table-condensed db-no-border-bottom">
											<caption><span class="uk-text-bold uk-text-primary">Contact</span> -{-$smarty.const._GENERAL_ADDED-}- : -{-$contact.created|date_format:"%d-%m-%Y"-}-. -{-$smarty.const._GENERAL_LAST_MODIFIED-}- : -{-$contact.modified|date_format:"%d-%m-%Y"-}-.</caption>
											<tbody>
												<tr>
													<td>-{-$smarty.const._GENERAL_NAME-}-</td><td>-{-$contact.fname-}- -{-$contact.lname-}-</td>
												</tr>
												<tr>
													<td>-{-$smarty.const._GENERAL_INITIALS-}-</td><td>-{-$contact.initials-}-</td>
												</tr>
												<tr>
													<td>-{-$smarty.const._GENERAL_TITLE-}-</td><td>-{-$contact.title-}-</td>
												</tr>
												<tr>
													<td>-{-$smarty.const._CONTACT_CONTACT-}-</td>
													<td>
														<i class="uk-icon-phone uk-icon-justify"></i>&nbsp;&nbsp;<a href="tel:-{-$contact.phone-}-">-{-$contact.phone-}-</a><br>
														<i class="uk-icon-envelope-o uk-icon-justify"></i>&nbsp;&nbsp;<a href="mailto:-{-$contact.email-}-" data-uk-modal=""> -{-$contact.email-}-</a><br>
														<i class="uk-icon-globe uk-icon-justify"></i>&nbsp;&nbsp;<a href="skype:-{-$contact.skype-}-?chat" target="_blank"> -{-$contact.skype-}-</a>
													</td>
												</tr>
												<tr><td></td></tr>
											</tbody>
										</table>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="uk-grid uk-margin-top-small">
				<div class="uk-width-small-1-1 uk-width-1-1">
					<div class="uk-panel uk-panel-box uk-panel-box-secondary">
						<h1 class="uk-panel-title">-{-$smarty.const._CONTACT_VIEW_DETAIL-}-</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
