-{-if $action=="none"-}-
<div class="uk-width-large-1-4 uk-width-small-1-1">
	<div class="uk-panel uk-panel-box uk-panel-box-secondary">
		<h1 class="uk-panel-title">-{-$smarty.const._CONTACT_INFO_HEADING-}-</h1>
		<p>-{-$smarty.const._CONTACT_INFO_TEXT-}-</p>
		<p>-{-$additional_info-}-</p>
	</div>
</div>
<div class="uk-width-large-3-4 uk-width-small-1-1">
	<div class="uk-panel uk-panel-box">
		<div class="uk-button-group uk-text-right uk-width-1-1 uk-text-right">
		-{-foreach from=$action_menu item=value-}-
			<a class="uk-button uk-button-primary uk-button-mini" href="-{-$value.link-}-" title="-{-$value.title-}-">&nbsp;<i class="uk-icon--{-$value.icon-}-"></i>&nbsp;</a>
		-{-/foreach-}-
		</div>
	</div>
</div>
-{-/if-}-
-{-if $action=="new" || $action=="edit"-}-
<div class="uk-width-large-1-6 uk-width-small-1-1">
	<div class="uk-panel uk-panel-box uk-panel-box-secondary">
		<h1 class="uk-panel-title">-{-$smarty.const._CONTACT_INFO_HEADING-}-</h1>
		<p>-{-$smarty.const._CONTACT_INFO_TEXT-}-</p>
		<p>-{-$additional_info-}-</p>
	</div>
</div>
<div class="uk-width-large-5-6 uk-width-small-1-1">
	<div class="uk-panel uk-panel-box">
		<form method="POST" class="uk-form uk-form-stacked" action="-{-$DBA_URL-}-contacts.html" enctype="multipart/form-data">
			<fieldset>
				<legend class="uk-text-center">-{-if $action=="new"-}--{-$smarty.const._CONTACT_ACTION_NEW-}--{-else-}--{-$smarty.const._CONTACT_ACTION_EDIT-}--{-/if-}-</legend>
				<div class="uk-grid uk-grid-small uk-grid-divider">
					<div class="uk-width-large-1-2 uk-width-small-1-1">
						<input type="hidden" name="module" value="contacts">
						<input type="hidden" name="action" value="-{-$action-}--{-if $action=="edit"-}--save-{-/if-}-">
						-{-if $action=="edit"-}-<input type="hidden" name="id" value="-{-$contact.id-}-">-{-/if-}-
						<section class="uk-form-row">
							<label class="uk-form-label" for="initials">-{-$smarty.const._GENERAL_INITIALS-}-</label>
							<div class="uk-form-controls">
								<input class="uk-width-1-1 uk-form-small" id="initials" name="initials" value="-{-if $action=="edit"-}--{-$contact.initials-}--{-/if-}-">
							</div>
						</section>
						<section class="uk-form-row">
							<label class="uk-form-label" for="title">-{-$smarty.const._GENERAL_TITLE-}-</label>
							<div class="uk-form-controls">
								<input class="uk-width-1-1 uk-form-small" id="title" name="title" value="-{-if $action=="edit"-}--{-$contact.title-}--{-/if-}-">
							</div>
						</section>
						<section class="uk-form-row">
							<label class="uk-form-label" for="fname">-{-$smarty.const._GENERAL_FNAME-}-</label>
							<div class="uk-form-controls">
								<input class="uk-width-1-1 uk-form-small" id="fname" name="fname" value="-{-if $action=="edit"-}--{-$contact.fname-}--{-/if-}-">
							</div>
						</section>
						<section class="uk-form-row">
							<label class="uk-form-label" for="lname">-{-$smarty.const._GENERAL_LNAME-}-</label>
							<div class="uk-form-controls">
								<input class="uk-width-1-1 uk-form-small" id="lname" name="lname" value="-{-if $action=="edit"-}--{-$contact.lname-}--{-/if-}-" required>
							</div>
						</section>
						<section class="uk-form-row">
							<label class="uk-form-label" for="phone">-{-$smarty.const._GENERAL_PHONE-}-</label>
							<div class="uk-form-controls">
								<input class="uk-width-1-1 uk-form-small" id="phone" name="phone" value="-{-if $action=="edit"-}--{-$contact.phone-}--{-/if-}-">
							</div>
						</section>
						<section class="uk-form-row">
							<label class="uk-form-label" for="customer">-{-$smarty.const._CONTACT_COMPANY-}-</label>
							<div class="uk-form-controls">
							-{-if $do_we_have_customers-}-
								<select name="customer" class="uk-width-1-1 uk-form-small" required>
									-{-foreach from=$customers item=item-}-
									<option value="-{-$item.id-}-"-{-if $action=="edit"-}--{-if $item.id == $contact.customer_id-}- selected-{-/if-}--{-/if-}->-{-$item.name-}-</option>
									-{-/foreach-}-
								</select>
							-{-else-}- <p>No customers yet</p>
							-{-/if-}-
							</div>
						</section>
					</div>
					<div class="uk-width-large-1-2 uk-width-small-1-1">
						<section class="uk-form-row">
							<label class="uk-form-label" for="email">-{-$smarty.const._GENERAL_EMAIL-}-</label>
							<div class="uk-form-controls">
								<input class="uk-width-1-1 uk-form-small" id="email" name="email" value="-{-if $action=="edit"-}--{-$contact.email-}--{-/if-}-">
							</div>
						</section>
						<section class="uk-form-row">
							<label class="uk-form-label" for="skype">-{-$smarty.const._GENERAL_SKYPE-}-</label>
							<div class="uk-form-controls">
								<input class="uk-width-1-1 uk-form-small" id="skype" name="skype" value="-{-if $action=="edit"-}--{-$contact.skype-}--{-/if-}-">
							</div>
						</section>
						<section class="uk-form-row">
							<label class="uk-form-label" for="photo">-{-$smarty.const._CONTACT_PHOTO-}-</label>
							<div class="uk-form-controls">
							-{-if $action=="edit"-}--{-if $contact.photo-}-<figure class="uk-thumbnail uk-thumbnail-mini"><img class="" src="-{-$contact.photo-}-"></figure>-{-/if-}--{-/if-}-
								<input class="uk-width-1-1 uk-form-small" type="file" id="photo" name="photo" value="">
							</div>
							</section>
						<section class="uk-form-row">
							<label class="uk-form-label" for="vat">-{-$smarty.const._GENERAL_NOTE-}-</label>
							<div class="uk-form-controls">
								<textarea name="note" class="uk-width-1-1" cols="" rows="5" placeholder="">-{-if $action=="edit"-}--{-$contact.note-}--{-/if-}-</textarea>
							</div>
						</section>


					</div>
				</div><p></p>
					<section class="uk-form-row">
						<div class="uk-form-icon uk-width-1-1">
							<i class="uk-icon-arrow-circle-right db-white"></i>
							<input type="submit" class="uk-button uk-button-primary uk-width-1-1 db-white" value="-{-$smarty.const._POST_SAVE-}-">
						</div>
					</section>


			</fieldset>
		</form>
	</div>
</div>
-{-/if-}-
