<div id="modal-email" class="uk-modal">
	<div class="uk-modal-dialog uk-modal-dialog-large">
			<a href="" class="uk-modal-close uk-close"></a>
			<div class="uk-modal-header">
				<h1>-{-$smarty.const._EMAIL_HEADER-}-</h1>
			</div>
			<form method="POST" class="uk-form uk-form-stacked" action="-{-$DBA_URL-}-email.html">
			<input type="hidden" name="module" value="email">
			<input type="hidden" name="id" value="-{-$customer.id-}-">
			<input type="hidden" name="mailname" value="-{-$customer.name-}-">
			<input type="hidden" name="mailto" value="-{-$customer.email-}-">
			<input type="hidden" name="mailtype" value="customer">
			<input type="hidden" name="return" value="-{-$DBA_URL-}-customers/view.html">
			<section class="uk-form-row uk-form-horizontal">
				<label class="uk-form-label" for="maildum">-{-$smarty.const._EMAIL_TO-}-</label>
				<div class="uk-form-controls">
					<input class="uk-width-1-1" id="maildum" name="maildum" value="-{-$customer.name-}- <-{-$customer.email-}->" disabled>
				</div>
			</section>
			<section class="uk-form-row uk-form-horizontal">
				<label class="uk-form-label" for="mailsubject">-{-$smarty.const._EMAIL_SUBJECT-}-</label>
				<div class="uk-form-controls">
					<input class="uk-width-1-1" id="mailsubject" name="mailsubject" value="" required>
				</div>
			</section>
			<section class="uk-form-row">
				<label class="uk-form-label" for="mailbody">-{-$smarty.const._EMAIL_BODY-}-</label>
				<div class="uk-form-controls">
					<textarea class="uk-width-1-1" id="mailbody" name="mailbody" required></textarea>
					<script>
						CKEDITOR.replace( 'mailbody',
						{
							on :
							{
								instanceReady : function( ev )
								{
									// Output paragraphs as <p>Text</p>.
									this.dataProcessor.writer.setRules( 'p',
									{
										indent : false,
										breakBeforeOpen : false,
										breakAfterOpen : false,
										breakBeforeClose : false,
										breakAfterClose : false
									});
								}
							}
						} );
					</script>
				</div>
			</section>
			<div class="uk-modal-footer uk-text-right">
				<a href="" class="uk-model-close uk-button">Close</a>
				<input type="submit" class="uk-button uk-button-primary" value="Send">

			</div>
			</form>
	</div>
</div>
