-{-if $action=="none"-}-
<div class="uk-width-large-1-4 uk-width-small-1-1">
	<div class="uk-panel uk-panel-box uk-panel-box-secondary">
		<h1 class="uk-panel-title">-{-$smarty.const._CUSTOMER_INFO_HEADING-}-</h1>
		<p>-{-$smarty.const._CUSTOMER_INFO_TEXT-}-</p>
		<p>-{-$additional_info-}-</p>
	</div>
</div>
<div class="uk-width-large-3-4 uk-width-small-1-1">
	<div class="uk-panel uk-panel-box">
		<div class="uk-button-group uk-text-right uk-width-1-1 uk-text-right">
		-{-foreach from=$action_menu item=value-}-
			<a class="uk-button uk-button-primary uk-button-mini" href="-{-$value.link-}-" title="-{-$value.title-}-">&nbsp;<i class="uk-icon--{-$value.icon-}-"></i>&nbsp;</a>
		-{-/foreach-}-
		</div>
	</div>
</div>
-{-/if-}-
-{-if $action=="new" || $action=="edit"-}-
<div class="uk-width-large-1-6 uk-width-small-1-1">
	<div class="uk-panel uk-panel-box uk-panel-box-secondary">
		<h1 class="uk-panel-title">-{-$smarty.const._CUSTOMER_INFO_HEADING-}-</h1>
		<p>-{-$smarty.const._CUSTOMER_INFO_TEXT-}-</p>
		<p>-{-$additional_info-}-</p>
	</div>
</div>
<div class="uk-width-large-5-6 uk-width-small-1-1">
	<div class="uk-panel uk-panel-box">
		<form method="POST" class="uk-form uk-form-stacked" action="-{-$DBA_URL-}-customers.html">
			<fieldset>
				<legend class="uk-text-center">-{-if $action=="new"-}--{-$smarty.const._CUSTOMER_ACTION_NEW-}--{-else-}--{-$smarty.const._CUSTOMER_ACTION_EDIT-}--{-/if-}-</legend>
				<div class="uk-grid uk-grid-small uk-grid-divider">
					<div class="uk-width-large-1-2 uk-width-small-1-1">
							<input type="hidden" name="module" value="customers">
							<input type="hidden" name="action" value="-{-$action-}--{-if $action=="edit"-}--save-{-/if-}-">
							-{-if $action=="edit"-}-<input type="hidden" name="id" value="-{-$customer.id-}-">-{-/if-}-
							<section class="uk-form-row">
							<label class="uk-form-label" for="name">-{-$smarty.const._GENERAL_NAME-}-</label>
							<div class="uk-form-controls">
								<input class="uk-width-1-1 uk-form-small" id="name" name="name" value="-{-if $action=="edit"-}--{-$customer.name-}--{-/if-}-" required>
							</div>
							</section>
							<section class="uk-form-row">
							<label class="uk-form-label" for="address_1">-{-$smarty.const._GENERAL_ADDR1-}-</label>
							<div class="uk-form-controls">
								<input class="uk-width-1-1 uk-form-small" id="address_1" name="address_1" value="-{-if $action=="edit"-}--{-$customer.address_1-}--{-/if-}-" required>
							</div>
							</section>
							<section class="uk-form-row">
							<label class="uk-form-label" for="address_2">-{-$smarty.const._GENERAL_ADDR2-}-</label>
							<div class="uk-form-controls">
								<input class="uk-width-1-1 uk-form-small" id="address_2" name="address_2" value="-{-if $action=="edit"-}--{-$customer.address_2-}--{-/if-}-">
							</div>
							</section>
							<section class="uk-form-row">
							<label class="uk-form-label" for="pcode">-{-$smarty.const._GENERAL_ZIP-}-</label>
							<div class="uk-form-controls">
								<input class="uk-width-1-1 uk-form-small" id="pcode" name="pcode" value="-{-if $action=="edit"-}--{-$customer.pcode-}--{-/if-}-" required>
							</div>
							</section>
							<section class="uk-form-row">
							<label class="uk-form-label" for="city">-{-$smarty.const._GENERAL_CITY-}-</label>
							<div class="uk-form-controls">
								<input class="uk-width-1-1 uk-form-small" id="city" name="city" value="-{-if $action=="edit"-}--{-$customer.city-}--{-/if-}-" required>
							</div>
							</section>
							<section class="uk-form-row">
							<label class="uk-form-label" for="country">-{-$smarty.const._GENERAL_COUNTRY-}-</label>
							<div class="uk-form-controls">
								<input class="uk-width-1-1 uk-form-small" id="country" name="country" value="-{-if $action=="edit"-}--{-$customer.country-}--{-/if-}-" >
							</div>
							</section>
					</div>
					<div class="uk-width-large-1-2 uk-width-small-1-1">
						<section class="uk-form-row">
						<label class="uk-form-label" for="phone">-{-$smarty.const._GENERAL_PHONE-}-</label>
						<div class="uk-form-controls">
							<input class="uk-width-1-1 uk-form-small" id="phone" name="phone" value="-{-if $action=="edit"-}--{-$customer.phone-}--{-/if-}-" >
						</div>
						</section>
						<section class="uk-form-row">
						<label class="uk-form-label" for="email">-{-$smarty.const._GENERAL_EMAIL-}-</label>
						<div class="uk-form-controls">
							<input class="uk-width-1-1 uk-form-small" required id="email" name="email" value="-{-if $action=="edit"-}--{-$customer.email-}--{-/if-}-">
						</div>
						</section>
						<section class="uk-form-row">
						<label class="uk-form-label" for="website">-{-$smarty.const._GENERAL_WEBSITE-}-</label>
						<div class="uk-form-controls">
							<input class="uk-width-1-1 uk-form-small" id="website" name="website" value="-{-if $action=="edit"-}--{-$customer.website-}--{-/if-}-" >
						</div>
						</section>
						<section class="uk-form-row">
							<label class="uk-form-label" for="type">-{-$smarty.const._CUSTOMER_TYPE-}-</label>
							<div class="uk-form-controls">
								<p><input type="radio" name="type" value="customer"
									-{-if $action=="edit"-}-
										-{-if $customer.type=="customer"-}-
											checked="checked"
										-{-/if-}-
										-{-/if-}-
										>
								<i class="uk-icon--{-$prefs.currency-}-"></i> -{-$smarty.const._CUSTOMER_TYPE_CUSTOMER-}-</p>
								<p><input type="radio" name="type" required value="payable"
									-{-if $action=="edit"-}-
										-{-if $customer.type=="payable"-}-
											checked="checked"
										-{-/if-}-
										-{-/if-}-
										>
						    <i class="uk-icon-shopping-cart"></i> -{-$smarty.const._CUSTOMER_TYPE_PAYABLE-}-</p>
							</div>
						</section>

					<section class="uk-form-row">
						<label class="uk-form-label" for="vat">-{-$smarty.const._GENERAL_NOTE-}-</label>
						<div class="uk-form-controls">
							<textarea name="note" class="uk-width-1-1" cols="" rows="7" placeholder="">-{-if $action=="edit"-}--{-$customer.note-}--{-/if-}-</textarea>
						</div>
					</section>

					</div>
				</div><p></p>
					<section class="uk-form-row">
						<div class="uk-form-icon uk-width-1-1">
							<i class="uk-icon-arrow-circle-right db-white"></i>
							<input type="submit" class="uk-button uk-button-primary uk-width-1-1 db-white" value="-{-$smarty.const._POST_SAVE-}-">
						</div>
					</section>


			</fieldset>
		</form>
	</div>
</div>
-{-/if-}-
