-{-if $action=="list"-}-
<div class="uk-width-1-1">
	<div class="uk-panel uk-panel-box uk-panel-box-secondary">
		<h1 class="uk-panel-title">-{-$smarty.const._CUSTOMER_INFO_HEADING-}-</h1>
		<p>-{-$smarty.const._CUSTOMER_INFO_TEXT-}-</p>
		<p>-{-$additional_info-}-</p>
	</div>
</div>
<div class="uk-width-1-1 uk-margin">
	<div class="uk-panel uk-panel-box">
		<div class="uk-button-group uk-text-right uk-width-1-1 uk-text-right">
			<input type="text" id="search" class="db-search" placeholder="-{-$smarty.const._ACTION_SEARCH-}-">
			-{-if $smarty.const.LICENCE_VALID == "VALID"-}-
		-{-foreach from=$action_menu item=value-}-
			<a class="uk-button uk-button-primary uk-button-mini" href="-{-$value.link-}-" title="-{-$value.title-}-">&nbsp;<i class="uk-icon--{-$value.icon-}-"></i>&nbsp;</a>
		-{-/foreach-}-
			-{-/if-}-
		</div>
		<form class="uk-form" method="post" action="-{-$DBA_URL-}-customers/detail.html">
		<input type="hidden" name="module" value="customers">
		<input type="hidden" name="action" value="detail">
		<div class="uk-overflow-container">
			<table id="table" class="uk-table uk-table-striped uk-table-condensed uk-table-hover" style="margin-top:0px;">
				<caption>Customer list</caption>
					<thead>
						<tr>
							<th></th>
							<th>-{-$smarty.const._GENERAL_NAME-}-</th>
							<th>-{-$smarty.const._GENERAL_ADDRESS-}-</th>
							<th>-{-$smarty.const._GENERAL_CITY-}-</th>
							<th>-{-$smarty.const._GENERAL_COUNTRY-}-</th>
							<th>-{-$smarty.const._GENERAL_PHONE-}-</th>
							<th>-{-$smarty.const._GENERAL_EMAIL-}-</th>
							<th>-{-$smarty.const._GENERAL_WEBSITE-}-</th>
							<th>-{-$smarty.const._GENERAL_LAST_MODIFIED-}-</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						-{-foreach from=$customer item=value-}-
							<tr class="uk-table-middle">
							<td>-{-if $value.type=="customer"-}-<i class="uk-icon--{-$prefs.currency-}-"></i>-{-/if-}--{-if $value.type=="payable"-}-<i class="uk-icon-shopping-cart"></i>-{-/if-}-</td>
							<td class="uk-text-small">-{-$value.name-}-</td>
							<td class="uk-text-small"><a href="http://maps.google.com/?q=-{-$value.address_1-}--{-if $value.address_2 != ""-}-, -{-$value.address_2-}--{-/if-}-,-{-$value.city-}-,-{-$value.country-}-" target="_blank">-{-$value.address_1-}--{-if $value.address_2 != ""-}-, -{-$value.address_2-}--{-/if-}-</a></td>
							<td class="uk-text-small">-{-$value.city-}-</td>
							<td class="uk-text-small">-{-$value.country-}-</td>
							<td class="uk-text-small"><a href="tel://-{-$value.phone-}-">-{-$value.phone-}-</a></td>
							<td class="uk-text-small"><a href="mailto:-{-$value.email-}-">-{-$value.email-}-</a></td>
							<td class="uk-text-small"><a href="-{-$value.website-}-" target="_blank">-{-$value.website-}-</a></td>
							<td class="uk-text-small">-{-$value.modified-}-</td>
							<td class="uk-text-right">
								<div class="uk-button-group">
									<button class="uk-button" type="submit" name="view" value="-{-$value.id-}-"><i class="uk-icon-search"></i>&nbsp;</button>
									-{-if $smarty.const.LICENCE_VALID == "VALID"-}-
									<button class="uk-button" type="submit" name="edit" value="-{-$value.id-}-"><i class="uk-icon-pencil-square"></i>&nbsp;</button>
									-{-/if-}-
								</div>
							</td>
							</tr>
							-{-/foreach-}-
					</tbody>
				</table>
			</div>
		</form>
	</div>
</div>
<script src="-{-$DBA_URL-}-assets/js/search.js"></script>
-{-/if-}-
