<div class="uk-width-1-1">
	<div class="uk-panel uk-panel-box uk-panel-box-secondary">
		<div class="uk-grid uk-grid-small uk-grid-divider">
			<div class="uk-width-large-4-10 uk-width-small-1-1">
				<h1 class="uk-panel-title uk-margin-remove"><i class="uk-icon-file"></i> -{-$customer.name-}-</h1>
				<div class="uk-clearfix uk-text-top">
					<p class="uk-text-small uk-margin-remove uk-align-left">-{-$customer.address_1-}--{-if $customer.address_2!=""-}-, -{-$customer.address_2-}--{-/if-}-
						<br>-{-$customer.pcode-}-, -{-$customer.city-}-<br>-{-$customer.country-}-</p>
						<p class="uk-text-small uk-margin-remove uk-align-right">
						<i class="uk-icon-phone"></i> <a href="tel:-{-$customer.phone-}-">-{-$customer.phone-}-</a><br>
						<i class="uk-icon-envelope-o"></i> <a href="#modal-email" data-uk-modal=""> -{-$customer.email-}-</a><br>
						<i class="uk-icon-globe"></i> <a href="-{-$customer.website-}-" target="_blank"> -{-$customer.website-}-</a></p>
				</div>

					<p class="uk-text-left uk-text-small uk-margin">-{-$smarty.const._GENERAL_ADDED-}- -{-$customer.created-}- || -{-$smarty.const._GENERAL_LAST_MODIFIED-}- -{-$customer.modified-}-</p>
			</div>
			<div class="uk-width-large-3-10 uk-width-small-1-1">
				<h1 class="uk-panel-title uk-margin-remove uk-text-top">-{-if $customer.note != ""-}-<i class="uk-icon-sticky-note-o"></i>&nbsp;-{-/if-}-</h1>
				<p class="uk-text-left uk-text-small uk-margin-remove">-{-$customer.note-}-</p>
			</div>
			<div class="uk-width-large-3-10 uk-width-small-1-1 uk-text-center">
				-{-if $smarty.const.LICENCE_VALID == "VALID"-}-
				<form class="uk-form" method="post" action="-{-$DBA_URL-}-customers/detail.html">
					<input type="hidden" name="module" value="customers">
					<input type="hidden" name="action" value="detail">
					<button class="uk-button uk-width-1-1 uk-margin-small-bottom" type="submit" name="edit" value="-{-$customer.id-}-"><i class="uk-icon-pencil-square"></i>&nbsp;-{-$smarty.const._CUSTOMER_ACTION_EDIT-}-</button>
				</form>
				-{-/if-}-
				-{-if $customer.type=="customer"-}-
				-{-if $smarty.const.LICENCE_VALID == "VALID"-}-
				<a href="-{-$DBA_URL-}-orders/customer/-{-$customer.id-}-.html" class="uk-button uk-width-1-1 uk-margin-small-bottom">-{-$smarty.const._ACTION_NEW_ORDER-}-</a>
				-{-/if-}-
				<a href="#" class="uk-button uk-button uk-width-1-1 uk-margin-small-bottom">-{-$smarty.const._ACTION_NEW_QUOTE-}-</a>
				<a href="#" class="uk-button uk-button uk-width-1-1 uk-margin-small-bottom">-{-$smarty.const._ACTION_NEW_CONTACT-}-</a>
				-{-else-}-
				<a href="-{-$DBA_URL-}-expenses/new.html" class="uk-button uk-width-1-1 uk-margin-small-bottom">-{-$smarty.const._ACTION_NEW_EXPENSE-}-</a>
				-{-/if-}-
			</div>
		</div>
	</div>
</div>
-{-if $customer.type=="customer"-}-
<div class="uk-width-1-1 uk-margin">
	<ul class="uk-tab" data-uk-tab="{connect:'#my-id'}">
		<li><a href=""><i class="uk-icon-justify uk-icon-file"></i> -{-$customer.name-}-</a></li>
		<li><a id="api-orders" href=""><i class="uk-icon-justify uk-icon-eur"></i> -{-$smarty.const._CUSTOMER_TAB_ORDERS-}-</a></li>
		<li><a href=""><i class="uk-icon-justify uk-icon-quote-right"></i> -{-$smarty.const._CUSTOMER_TAB_QUOTES-}-</a></li>
		<li><a id="api-contacts" href=""><i class="uk-icon-justify uk-icon-user"></i> -{-$smarty.const._CUSTOMER_TAB_CONTACTS-}-</a></li>
		<li><a id="api-notes" href=""><i class="uk-icon-justify uk-icon-sticky-note-o"></i> -{-$smarty.const._CUSTOMER_TAB_NOTES-}-</a></li>

	</ul>

	<ul id="my-id" class="uk-switcher">
		<li>
			<div class="uk-width-1-1 uk-margin db-border-left db-border-right db-border-bottom" style="padding:10px;">
				<div class="uk-panel uk-margin">
					<div class="uk-overflow-container">
					-{-if !$numbers-}-<p>No order details yet</p>-{-else-}-
					<table class="uk-table uk-table-condensed">
					<thead>
					</thead>
					<tfoot>
						<tr>
							<td></td>
							<td class="uk-text-right">incl. tax</td>
							<td></td>
							<td class="uk-text-right">excl. tax</td>
							<td></td>
						</tr>
					</tfoot>
					<tbody>
						<tr>
							<td class="uk-button-success uk-text-bold">Done business</td>
							<td class="uk-text-right uk-button-success uk-text-bold"><i class="uk-icon--{-$prefs.currency-}-"></i> -{-$numbers.paid_in-}-</td>
							<td class="uk-button-success"></td>
							<td class="uk-text-right uk-button-success uk-text-bold"><i class="uk-icon--{-$prefs.currency-}-"></i> -{-$numbers.paid_ex-}-</td>
							<td class="uk-button-success"></td>
						</tr>
						<tr>
							<td>Not payed</td>
							<td class="uk-text-right uk-text-warning"><i class="uk-icon--{-$prefs.currency-}-"></i> -{-$numbers.open_in-}-</td>
							<td></td>
							<td class="uk-text-right uk-text-warning"><i class="uk-icon--{-$prefs.currency-}-"></i> -{-$numbers.open_ex-}-</td>
							<td></td>
						</tr>
						<tr>
							<td style="border-bottom:2px double rgb(200, 200, 200);">Outstanding Quotes</td>
							<td class="uk-text-right" style="border-bottom:2px double rgb(200, 200, 200);"><i class="uk-icon--{-$prefs.currency-}-"></i> -{-$numbers.quotes_in-}-</td>
							<td class="uk-text-left" style="border-bottom:2px double rgb(200, 200, 200);"><i class="uk-icon-plus"></i></td>
							<td class="uk-text-right" style="border-bottom:2px double rgb(200, 200, 200);"><i class="uk-icon--{-$prefs.currency-}-"></i> -{-$numbers.quotes_ex-}-</td>
							<td class="uk-text-left" style="border-bottom:2px double rgb(200, 200, 200);"><i class="uk-icon-plus"></i></td>
						</tr>
						<tr>
							<td class="uk-text-bold">Total and Potential Business</td>
							<td class="uk-text-right uk-text-bold"><i class="uk-icon--{-$prefs.currency-}-"></i> -{-$numbers.potential_in-}-</td>
							<td></td>
							<td class="uk-text-right uk-text-bold"><i class="uk-icon--{-$prefs.currency-}-"></i> -{-$numbers.potential_ex-}-</td>
							<td></td>
						</tr>
					</tbody>
				</table>
				-{-/if-}-
					</div>
				</div>
			</div>
		</li>
		<li>
			<div class="uk-width-1-1 uk-margin db-border-left db-border-right db-border-bottom uk-text-center" style="padding:10px;">
				<div id="api-load-orders" class="uk-panel uk-margin uk-text-left">
					<p class="uk-text-center"><i class="uk-icon-large uk-icon-spinner uk-icon-spin"></i></p>
				</div>
			</div>
		</li>
		<li>
			<div class="uk-width-1-1 uk-margin db-border-left db-border-right db-border-bottom" style="padding:10px;">
				<div class="uk-panel uk-margin"><p>.2.2.</p><p>.1.1.</p></div>
			</div>
		</li>
		<li>
			<div class="uk-width-1-1 uk-margin db-border-left db-border-right db-border-bottom uk-text-center" style="padding:10px;">
				<div id="api-load-contacts" class="uk-panel uk-margin uk-text-left">
					<p class="uk-text-center"><i class="uk-icon-large uk-icon-spinner uk-icon-spin"></i></p>
				</div>
			</div>
		</li>
		<li>
			<div class="uk-width-1-1 uk-margin db-border-left db-border-right db-border-bottom uk-text-center" style="padding:10px;">
				<div id="api-load-notes" class="uk-panel uk-margin uk-text-left">
					<p class="uk-text-center"><i class="uk-icon-large uk-icon-spinner uk-icon-spin"></i></p>
				</div>
			</div>
		</li>

	</ul>
</div>
-{-/if-}-
-{-if $customer.type=="payable"-}-
<div class="uk-width-1-1 uk-margin">
	<ul class="uk-tab" data-uk-tab>
		<li class="uk-active"><a href=""><i class="uk-icon-justify uk-icon-usd"></i> -{-$smarty.const._EXPENSES_INFO_HEADING-}-</a></li>
	</ul>
	<div class="uk-width-1-1 uk-margin db-border-left db-border-right db-border-bottom" style="padding:10px; margin-top:0px;">

		-{-if $expenses!=false-}-
		<form id="expense-list" class="uk-form" method="post" action="-{-$DBA_URL-}-expenses/detail.html">
		<input type="hidden" name="module" value="expenses">
		<input type="hidden" name="action" value="detail">
		<div class="uk-overflow-container">
			<table id="table" class="uk-table uk-table-striped uk-table-condensed uk-table-hover" style="margin-top:0px;">
				<caption>-{-$smarty.const._EXPENSES_LIST_HEADER-}-</caption>
					<thead>
						<tr>
							<th>-{-$smarty.const._EXPENSES_LIST_DATE-}-</th>
							<th>-{-$smarty.const._EXPENSES_LIST_NAME-}-</th>
							<th>-{-$smarty.const._EXPENSES_LIST_TYPE-}-</th>
							<th>-{-$smarty.const._EXPENSES_TOTAL_EX-}-</th>
							<th>-{-$smarty.const._EXPENSES_TOTAL_VAT-}-</th>
							<th>-{-$smarty.const._EXPENSES_TOTAL_IN-}-</th>
							<th><i class="uk-icon-paperclip" alt="-{-$smarty.const._EXPENSES_ATTACHMENT-}-"></i></th>
							<th class="uk-text-right">-{-$smarty.const._EXPENSES_LIST_ACTIONS-}-</th>
						</tr>
					</thead>
					<tbody>
						-{-foreach from=$expenses item=value-}-
							<tr class="-{-$value.color-}- uk-table-middle">
							<td>-{-$value.date-}-</td>
							<td>-{-$value.name-}-</td>
							<td>-{-$value.type-}-</td>
							<td><i class="uk-icon--{-$prefs.currency-}-"></i> -{-$value.amount_ex-}-</td>
							<td><i class="uk-icon--{-$prefs.currency-}-"></i> -{-$value.vat-}-</td>
							<td><i class="uk-icon--{-$prefs.currency-}-"></i> -{-$value.amount_in-}-</td>
							<td>-{-if $value.files==true-}- <i class="uk-icon-check"></i> -{-else-}-  -{-/if-}-</td>
							<td class="uk-text-right">
								<div class="uk-button-group">
									<button class="uk-button" type="submit" name="view" value="-{-$value.id-}-" title="-{-$smarty.const._EXPENSES_LIST_ACTIONS_VIEW-}-"><i class="uk-icon-search"></i></button>
									<button class="uk-button" type="submit" name="edit" value="-{-$value.id-}-" title="-{-$smarty.const._EXPENSES_LIST_ACTIONS_EDIT-}-"><i class="uk-icon-pencil-square"></i></button>
									<button class="uk-button" id="expense-delete-{-$value.id-}-" type="submit" name="delete" value="-{-$value.id-}-" title="-{-$smarty.const._EXPENSES_LIST_ACTIONS_DELETE-}-"><i class="uk-icon-trash"></i></button>
								</div>
							</td>
							</tr>
							-{-/foreach-}-
					</tbody>
				</table>
			</div>
		</form>
		-{-else-}-
		<p>-{-$smarty.const._EXPENSES_INFO_NORESULTS_ON_COMPANY_PAGE-}-</p>
		-{-/if-}-
	</div>
</div>

-{-/if-}-
-{-if $smtp-}-
<div id="modal-email" class="uk-modal">
	<div class="uk-modal-dialog uk-modal-dialog-large">
			<a href="" class="uk-modal-close uk-close"></a>
			<div class="uk-modal-header">
				<h1>-{-$smarty.const._EMAIL_HEADER-}-</h1>
			</div>
			<form method="POST" class="uk-form uk-form-stacked" action="-{-$DBA_URL-}-email.html">
			<input type="hidden" name="module" value="email">
			<input type="hidden" name="id" value="-{-$customer.id-}-">
			<input type="hidden" name="mailname" value="-{-$customer.name-}-">
			<input type="hidden" name="mailto" value="-{-$customer.email-}-">
			<input type="hidden" name="mailtype" value="customer">
			<input type="hidden" name="return" value="-{-$DBA_URL-}-customers/view.html">
			<section class="uk-form-row uk-form-horizontal">
				<label class="uk-form-label" for="maildum">-{-$smarty.const._EMAIL_TO-}-</label>
				<div class="uk-form-controls">
					<input class="uk-width-1-1" id="maildum" name="maildum" value="-{-$customer.name-}- <-{-$customer.email-}->" disabled>
				</div>
			</section>
			<section class="uk-form-row uk-form-horizontal">
				<label class="uk-form-label" for="mailsubject">-{-$smarty.const._EMAIL_SUBJECT-}-</label>
				<div class="uk-form-controls">
					<input class="uk-width-1-1" id="mailsubject" name="mailsubject" value="" required>
				</div>
			</section>
			<section class="uk-form-row">
				<label class="uk-form-label" for="mailbody">-{-$smarty.const._EMAIL_BODY-}-</label>
				<div class="uk-form-controls">
					<textarea class="uk-width-1-1" id="mailbody" name="mailbody" required></textarea>
					<script>
						CKEDITOR.replace( 'mailbody',
						{
							on :
							{
								instanceReady : function( ev )
								{
									// Output paragraphs as <p>Text</p>.
									this.dataProcessor.writer.setRules( 'p',
									{
										indent : false,
										breakBeforeOpen : false,
										breakAfterOpen : false,
										breakBeforeClose : false,
										breakAfterClose : false
									});
								}
							}
						} );
					</script>
				</div>
			</section>
			<div class="uk-modal-footer uk-text-right">
				<a href="" class="uk-model-close uk-button">Close</a>
				<input type="submit" class="uk-button uk-button-primary" value="Send">

			</div>
			</form>
	</div>
</div>
-{-else-}-
<div id="modal-email" class="uk-modal">
	<div class="uk-modal-dialog uk-modal-dialog-large">
			<a href="" class="uk-modal-close uk-close"></a>
			<div class="uk-modal-header">
				<h1><a href="-{-$DBA_URL-}-preferences/settings.html">Setup smtp first</a></h1>
			</div>
	</div>
</div>
-{-/if-}-
<script>
$(document).ready(function(){
	$('#api-notes').click(function(){ // Load the notes
		$("#api-load-notes").load( "-{-$DBA_URL-}-api.html", { module : "api", action : "shownotes", id : "-{-$customer.id-}-"});
	});
	$('#api-contacts').click(function(){ // Load the notes
		$("#api-load-contacts").load( "-{-$DBA_URL-}-api.html", { module : "api", action : "showcontacts", id : "-{-$customer.id-}-"});
	});
	$('#api-orders').click(function(){ // Load the notes
		$("#api-load-orders").load( "-{-$DBA_URL-}-api.html", { module : "api", action : "showorders", id : "-{-$customer.id-}-"});
	});
	$('[id^="expense-delete"]').click(function(event) {
			if( !confirm('-{-$smarty.const._EXPENSES_LIST_ACTIONS_DELETE_CONFIRM-}-') )
					event.preventDefault();
	});
});
</script>
