
<div class="uk-width-large-1-3 uk-width-small-1-1">

	<div class="uk-panel uk-panel-header uk-panel-box uk-panel-divider">
		<div class="uk-panel-badge uk-badge"><i class="uk-icon-usd"></i></div>
		<h3 class="uk-panel-title uk-text-small">In</h3>
		<table class="uk-table uk-table-striped uk-table-condensed">
		<thead>
			<tr>
				<th class="uk-text-small">Description</th>
				<th class="uk-text-small uk-text-right">Total ex</th>
				<th class="uk-text-small uk-text-right">Total vat</th>
				<th class="uk-text-small uk-text-right">Total in</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td class="uk-text-small">First quarter</td>
				<td class="uk-text-small uk-text-right"><i class="uk-icon--{-$prefs.currency-}-"></i> -{-$dashboard.orders.first_quarter.total_ex-}-</td>
				<td class="uk-text-small uk-text-right"><i class="uk-icon--{-$prefs.currency-}-"></i> -{-$dashboard.orders.first_quarter.total_vat-}-</td>
				<td class="uk-text-small uk-text-right"><i class="uk-icon--{-$prefs.currency-}-"></i> -{-$dashboard.orders.first_quarter.total_in-}-</td>
			</tr>
			<tr>
				<td class="uk-text-small">Second quarter</td>
				<td class="uk-text-small uk-text-right"><i class="uk-icon--{-$prefs.currency-}-"></i> -{-$dashboard.orders.second_quarter.total_ex-}-</td>
				<td class="uk-text-small uk-text-right"><i class="uk-icon--{-$prefs.currency-}-"></i> -{-$dashboard.orders.second_quarter.total_vat-}-</td>
				<td class="uk-text-small uk-text-right"><i class="uk-icon--{-$prefs.currency-}-"></i> -{-$dashboard.orders.second_quarter.total_in-}-</td>
			</tr>
			<tr>
				<td class="uk-text-small">Third quarter</td>
				<td class="uk-text-small uk-text-right"><i class="uk-icon--{-$prefs.currency-}-"></i> -{-$dashboard.orders.third_quarter.total_ex-}-</td>
				<td class="uk-text-small uk-text-right"><i class="uk-icon--{-$prefs.currency-}-"></i> -{-$dashboard.orders.third_quarter.total_vat-}-</td>
				<td class="uk-text-small uk-text-right"><i class="uk-icon--{-$prefs.currency-}-"></i> -{-$dashboard.orders.third_quarter.total_in-}-</td>
			</tr>
			<tr>
				<td class="uk-text-small">Fourth quarter</td>
				<td class="uk-text-small uk-text-right"><i class="uk-icon--{-$prefs.currency-}-"></i> -{-$dashboard.orders.fourth_quarter.total_ex-}-</td>
				<td class="uk-text-small uk-text-right"><i class="uk-icon--{-$prefs.currency-}-"></i> -{-$dashboard.orders.fourth_quarter.total_vat-}-</td>
				<td class="uk-text-small uk-text-right"><i class="uk-icon--{-$prefs.currency-}-"></i> -{-$dashboard.orders.fourth_quarter.total_in-}-</td>
			</tr>
			<tr>
				<td class="uk-text-small">This year</td>
				<td class="uk-text-small uk-text-right"><i class="uk-icon--{-$prefs.currency-}-"></i> -{-$dashboard.orders.this_year.total_ex-}-</td>
				<td class="uk-text-small uk-text-right"><i class="uk-icon--{-$prefs.currency-}-"></i> -{-$dashboard.orders.this_year.total_vat-}-</td>
				<td class="uk-text-small uk-text-right"><i class="uk-icon--{-$prefs.currency-}-"></i> -{-$dashboard.orders.this_year.total_in-}-</td>
			</tr>
			<tr>
				<td class="uk-text-small">total</td>
				<td class="uk-text-small uk-text-right"><i class="uk-icon--{-$prefs.currency-}-"></i> -{-$dashboard.orders.total.total_ex-}-</td>
				<td class="uk-text-small uk-text-right"><i class="uk-icon--{-$prefs.currency-}-"></i> -{-$dashboard.orders.total.total_vat-}-</td>
				<td class="uk-text-small uk-text-right"><i class="uk-icon--{-$prefs.currency-}-"></i> -{-$dashboard.orders.total.total_in-}-</td>
			</tr>

		</tbody>
		</table>
	</div>
	<div class="uk-panel uk-panel-header uk-panel-box uk-panel-divider">
		<div class="uk-panel-badge uk-badge"><i class="uk-icon-usd"></i></div>
		<h3 class="uk-panel-title uk-text-small">Out</h3>
		<table class="uk-table uk-table-striped uk-table-condensed">
		<thead>
			<tr>
				<th class="uk-text-small">Description</th>
				<th class="uk-text-small uk-text-right">Total ex</th>
				<th class="uk-text-small uk-text-right">Total vat</th>
				<th class="uk-text-small uk-text-right">Total out</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td class="uk-text-small">First quarter</td>
				<td class="uk-text-small uk-text-right"><i class="uk-icon--{-$prefs.currency-}-"></i> -{-$dashboard.expenses.first_quarter.total_ex-}-</td>
				<td class="uk-text-small uk-text-right"><i class="uk-icon--{-$prefs.currency-}-"></i> -{-$dashboard.expenses.first_quarter.total_vat-}-</td>
				<td class="uk-text-small uk-text-right"><i class="uk-icon--{-$prefs.currency-}-"></i> -{-$dashboard.expenses.first_quarter.total_in-}-</td>
			</tr>
			<tr>
				<td class="uk-text-small">Second quarter</td>
				<td class="uk-text-small uk-text-right"><i class="uk-icon--{-$prefs.currency-}-"></i> -{-$dashboard.expenses.second_quarter.total_ex-}-</td>
				<td class="uk-text-small uk-text-right"><i class="uk-icon--{-$prefs.currency-}-"></i> -{-$dashboard.expenses.second_quarter.total_vat-}-</td>
				<td class="uk-text-small uk-text-right"><i class="uk-icon--{-$prefs.currency-}-"></i> -{-$dashboard.expenses.second_quarter.total_in-}-</td>
			</tr>
			<tr>
				<td class="uk-text-small">Third quarter</td>
				<td class="uk-text-small uk-text-right"><i class="uk-icon--{-$prefs.currency-}-"></i> -{-$dashboard.expenses.third_quarter.total_ex-}-</td>
				<td class="uk-text-small uk-text-right"><i class="uk-icon--{-$prefs.currency-}-"></i> -{-$dashboard.expenses.third_quarter.total_vat-}-</td>
				<td class="uk-text-small uk-text-right"><i class="uk-icon--{-$prefs.currency-}-"></i> -{-$dashboard.expenses.third_quarter.total_in-}-</td>
			</tr>
			<tr>
				<td class="uk-text-small">Fourth quarter</td>
				<td class="uk-text-small uk-text-right"><i class="uk-icon--{-$prefs.currency-}-"></i> -{-$dashboard.expenses.fourth_quarter.total_ex-}-</td>
				<td class="uk-text-small uk-text-right"><i class="uk-icon--{-$prefs.currency-}-"></i> -{-$dashboard.expenses.fourth_quarter.total_vat-}-</td>
				<td class="uk-text-small uk-text-right"><i class="uk-icon--{-$prefs.currency-}-"></i> -{-$dashboard.expenses.fourth_quarter.total_in-}-</td>
			</tr>
			<tr>
				<td class="uk-text-small">This year</td>
				<td class="uk-text-small uk-text-right"><i class="uk-icon--{-$prefs.currency-}-"></i> -{-$dashboard.expenses.this_year.total_ex-}-</td>
				<td class="uk-text-small uk-text-right"><i class="uk-icon--{-$prefs.currency-}-"></i> -{-$dashboard.expenses.this_year.total_vat-}-</td>
				<td class="uk-text-small uk-text-right"><i class="uk-icon--{-$prefs.currency-}-"></i> -{-$dashboard.expenses.this_year.total_in-}-</td>
			</tr>
			<tr>
				<td class="uk-text-small">total</td>
				<td class="uk-text-small uk-text-right"><i class="uk-icon--{-$prefs.currency-}-"></i> -{-$dashboard.expenses.total.total_ex-}-</td>
				<td class="uk-text-small uk-text-right"><i class="uk-icon--{-$prefs.currency-}-"></i> -{-$dashboard.expenses.total.total_vat-}-</td>
				<td class="uk-text-small uk-text-right"><i class="uk-icon--{-$prefs.currency-}-"></i> -{-$dashboard.expenses.total.total_in-}-</td>
			</tr>

		</tbody>
		</table>
	</div>
</div>

<div class="uk-width-large-1-3 uk-width-small-1-1">
	<div class="uk-panel uk-panel-header uk-panel-box uk-panel-divider">
		<div class="uk-panel-badge uk-badge"><i class="uk-icon-euro"></i></div>
		<h3 class="uk-panel-title uk-text-small">Latest orders</h3>
		-{-if !$dashboard.latest_orders-}-
		<p>No orders yet</p>
		-{-else-}-
		<table class="uk-table uk-table-striped uk-table-condensed">
		<thead>
			<tr>
				<th class="uk-text-small">-{-$smarty.const._ORDERS_CUSTOMERS_NAME-}-</th>
				<th class="uk-text-small">-{-$smarty.const._ORDERS_DATE-}-</th>
				<th class="uk-text-small uk-text-right">-{-$smarty.const._ORDERS_TOTAL_EX-}-</th>
			</tr>
		</thead>
		<tbody>
			-{-foreach from=$dashboard.latest_orders item=value-}-
			<tr>
				<td class="uk-text-small"><a href="-{-$DBA_URL-}-find/order/-{-$value.id-}-.html">-{-$value.name-}-</a></td>
				<td class="uk-text-small">-{-$value.date-}-</td>
				<td class="uk-text-small uk-text-right"><i class="uk-icon--{-$prefs.currency-}-"></i> -{-$value.amount_ex-}-</td>
			</tr>
			-{-/foreach-}-
			</tbody>
		</table>
		-{-/if-}-
	</div>
	<div class="uk-panel uk-panel-header uk-panel-box uk-panel-divider">
		<div class="uk-panel-badge uk-badge"><i class="uk-icon-quote-right"></i></div>
		<h3 class="uk-panel-title uk-text-small">Open quotes</h3>
		-{-if !$dashboard.latest_quotes-}-
		<p>No quotes yet</p>
		-{-else-}-
		<table class="uk-table uk-table-striped uk-table-condensed">
		<thead>
			<tr>
				<th class="uk-text-small">-{-$smarty.const._QUOTES_CUSTOMERS_NAME-}-</th>
				<th class="uk-text-small">-{-$smarty.const._QUOTES_DATE-}-</th>
				<th class="uk-text-small">Age</th>
				<th class="uk-text-small uk-text-right">-{-$smarty.const._QUOTES_TOTAL_EX-}-</th>
			</tr>
		</thead>
		<tbody>
			-{-foreach from=$dashboard.latest_quotes item=value-}-
			<tr>
				<td class="uk-text-small"><a href="-{-$DBA_URL-}-find/quote/-{-$value.id-}-.html">-{-$value.name-}-</a></td>
				<td class="uk-text-small">-{-$value.date-}-</td>
				<td class="uk-text-small">-{-$value.age-}-</td>
				<td class="uk-text-small uk-text-right"><i class="uk-icon--{-$prefs.currency-}-"></i> -{-$value.amount_ex-}-</td>
			</tr>
			-{-/foreach-}-
			</tbody>
		</table>
		-{-/if-}-
	</div>


</div>

<div class="uk-width-large-1-3 uk-width-small-1-1">
	<div class="uk-panel uk-panel-header uk-panel-box uk-panel-divider">
		<div class="uk-panel-badge uk-badge"><i class="uk-icon-usd"></i></div>
		<h3 class="uk-panel-title uk-text-small">Payments overdue</h3>
		-{-if !$dashboard.orders_late-}-
		<p>None</p>
		-{-else-}-
		<table class="uk-table uk-table-striped uk-table-condensed">
		<thead>
			<tr>
				<th class="uk-text-small">-{-$smarty.const._ORDERS_CUSTOMERS_NAME-}-</th>
				<th class="uk-text-small">-{-$smarty.const._ORDERS_DATE-}-</th>
				<th class="uk-text-small uk-text-right">-{-$smarty.const._ORDERS_TOTAL_EX-}-</th>
				<th class="uk-text-small uk-text-right">-{-$smarty.const._ORDERS_LIST_ORDER_AGE-}-</th>
			</tr>
		</thead>
		<tbody>
			-{-foreach from=$dashboard.orders_late item=value-}-
			<tr>
				<td class="uk-text-small"><a href="-{-$DBA_URL-}-find/order/-{-$value.id-}-.html">-{-$value.name-}-</a></td>
				<td class="uk-text-small">-{-$value.date-}-</td>
				<td class="uk-text-small uk-text-right"><i class="uk-icon--{-$prefs.currency-}-"></i> -{-$value.amount_ex-}-</td>
				<td class="uk-text-small uk-text-right">-{-$value.late-}-</td>
			</tr>
			-{-/foreach-}-
		</tbody>
		</table>
		-{-/if-}-
	</div>
	<div class="uk-panel uk-panel-header uk-panel-box uk-panel-divider">
		<div class="uk-panel-badge uk-badge"><i class="uk-icon-usd"></i></div>
		<h3 class="uk-panel-title uk-text-small">Latest payments</h3>
		-{-if !$dashboard.payments-}-
		<p>None</p>
		-{-else-}-
		<table class="uk-table uk-table-striped uk-table-condensed">
		<thead>
			<tr>
				<th class="uk-text-small">-{-$smarty.const._PAYMENTS_LIST_ORDER-}-</th>
				<th class="uk-text-small">-{-$smarty.const._PAYMENTS_LIST_DATE-}-</th>
				<th class="uk-text-small uk-text-right">-{-$smarty.const._PAYMENTS_LIST_AMOUNT-}-</th>
			</tr>
		</thead>
		<tbody>
			-{-foreach from=$dashboard.payments item=value-}-
			<tr>
				<td class="uk-text-small"><a href="-{-$DBA_URL-}-find/order/-{-$value.order_id-}-.html">-{-$value.ordernr-}-</a></td>
				<td class="uk-text-small">-{-$value.date-}-</td>
				<td class="uk-text-small uk-text-right"><i class="uk-icon--{-$prefs.currency-}-"></i> -{-$value.amount-}-</td>
			</tr>
			-{-/foreach-}-
		</tbody>
	</table>
	-{-/if-}-
	</div>

</div>
