-{-if $action=="list"-}-
<div class="uk-width-1-1">
	<div class="uk-panel uk-panel-box uk-panel-box-secondary">
		<h1 class="uk-panel-title">-{-$smarty.const._EXPENSES_INFO_HEADING-}-</h1>
		<p>-{-$smarty.const._EXPENSES_INFO_TEXT-}-</p>
		<p>-{-$additional_info-}-</p>
	</div>
</div>
<div class="uk-width-1-1 uk-margin">
	<div class="uk-panel uk-panel-box">
		<div class="uk-button-group uk-text-right uk-width-1-1 uk-text-right">
			<input type="text" id="search" class="db-search" placeholder="-{-$smarty.const._ACTION_SEARCH-}-">
			-{-if $smarty.const.LICENCE_VALID == "VALID"-}-
		-{-foreach from=$action_menu item=value-}-
			<a class="uk-button uk-button-primary uk-button-mini" href="-{-$value.link-}-" title="-{-$value.title-}-">&nbsp;<i class="uk-icon--{-$value.icon-}-"></i>&nbsp;</a>
		-{-/foreach-}-
		-{-/if-}-
		</div>
		<form id="expense-list" class="uk-form" method="post" action="-{-$DBA_URL-}-expenses/detail.html">
		<input type="hidden" name="module" value="expenses">
		<input type="hidden" name="action" value="detail">
		<div class="uk-overflow-container">
			<table id="table" class="uk-table uk-table-striped uk-table-condensed uk-table-hover" style="margin-top:0px;">
				<caption>-{-$smarty.const._EXPENSES_LIST_HEADER-}-</caption>
					<thead>
						<tr>
							<th>-{-$smarty.const._EXPENSES_LIST_DATE-}-</th>
							<th>-{-$smarty.const._EXPENSES_LIST_NAME-}-</th>
							<th>-{-$smarty.const._EXPENSES_LIST_CUSTOMER-}-</th>
							<th>-{-$smarty.const._EXPENSES_LIST_TYPE-}-</th>
							<th>-{-$smarty.const._EXPENSES_TOTAL_EX-}-</th>
							<th>-{-$smarty.const._EXPENSES_TOTAL_VAT-}-</th>
							<th>-{-$smarty.const._EXPENSES_TOTAL_IN-}-</th>
							<th><i class="uk-icon-paperclip" alt="-{-$smarty.const._EXPENSES_ATTACHMENT-}-"></i></th>
							<th class="uk-text-right">-{-$smarty.const._EXPENSES_LIST_ACTIONS-}-</th>
						</tr>
					</thead>
					<tbody>
						-{-foreach from=$expenses item=value-}-
							<tr class="-{-$value.color-}- uk-table-middle">
							<td>-{-$value.date-}-</td>
							<td>-{-$value.name-}-</td>
							<td>-{-if $value.customer != false-}--{-$value.customer-}--{-else-}- -- -{-/if-}-</td>
							<td>-{-$value.type-}-</td>
							<td><i class="uk-icon--{-$prefs.currency-}-"></i> -{-$value.amount_ex-}-</td>
							<td><i class="uk-icon--{-$prefs.currency-}-"></i> -{-$value.vat-}-</td>
							<td><i class="uk-icon--{-$prefs.currency-}-"></i> -{-$value.amount_in-}-</td>
							<td>-{-if $value.files==true-}- <i class="uk-icon-check"></i> -{-else-}-  -{-/if-}-</td>
							<td class="uk-text-right">
								<div class="uk-button-group">
									<button class="uk-button" type="submit" name="view" value="-{-$value.id-}-" title="-{-$smarty.const._EXPENSES_LIST_ACTIONS_VIEW-}-"><i class="uk-icon-search"></i></button>
									-{-if $smarty.const.LICENCE_VALID == "VALID"-}-
									<button class="uk-button" type="submit" name="edit" value="-{-$value.id-}-" title="-{-$smarty.const._EXPENSES_LIST_ACTIONS_EDIT-}-"><i class="uk-icon-pencil-square"></i></button>
									<button class="uk-button" id="expense-delete-{-$value.id-}-" type="submit" name="delete" value="-{-$value.id-}-" title="-{-$smarty.const._EXPENSES_LIST_ACTIONS_DELETE-}-"><i class="uk-icon-trash"></i></button>
									-{-/if-}-
								</div>
							</td>
							</tr>
							-{-/foreach-}-
					</tbody>
				</table>
			</div>
		</form>
	</div>
</div>
<script src="-{-$DBA_URL-}-assets/js/search.js"></script>
<script>
$(document).ready(function() {
		$('[id^="expense-delete"]').click(function(event) {
				if( !confirm('-{-$smarty.const._EXPENSES_LIST_ACTIONS_DELETE_CONFIRM-}-') )
						event.preventDefault();
		});
});
</script>
-{-/if-}-
