<div class="uk-width-large-1-1 uk-width-small-1-1">
	<div class="uk-panel uk-panel-box uk-panel-box-secondary">
		<h1 class="uk-panel-title">-{-$smarty.const._EXPENSES_INFO_HEADING-}-</h1>
		<p>-{-$smarty.const._EXPENSES_INFO_EDIT-}-</p>
	</div>
</div>
<div class="uk-width-large-1-1 uk-width-small-1-1">
	<div class="uk-panel uk-panel-box">
		<form method="POST" class="uk-form uk-form-horizontal" action="-{-$DBA_URL-}-expenses.html" enctype="multipart/form-data">
			<fieldset class="data-uk-margin">
			<input type="hidden" name="module" value="expenses">
			<input type="hidden" name="action" value="edit-save">
			<input type="hidden" name="id" value="-{-$expense.id-}-">
			<section class="uk-form-row">
				<label class="uk-form-label" for="date">-{-$smarty.const._EXPENSES_DATE-}-</label>
				<div class="uk-form-controls">
					<input class="uk-width-1-1" id="date" placeholder ="YYYY-MM-DD" type="text" name="date" value="-{-$expense.date-}-" required data-uk-datepicker="{format:'YYYY-MM-DD'}">
				</div>
			</section>
			<section class="uk-form-row">
				<label class="uk-form-label" for="timezone">-{-$smarty.const._EXPENSES_NAME-}-</label>
					<div class="uk-form-controls">
						<input class="uk-width-1-1" id="name" type="text" class="uk-width-1-1" name="name" value="-{-$expense.name-}-" required>
					</div>
			</section>
			<section class="uk-form-row">
			<label class="uk-form-label" for="customer_id">-{-$smarty.const._EXPENSES_CONNECT_ORDER-}-</label>
			<div class="uk-form-controls">
				<select name="customer_id" class="uk-width-1-1" required>
				-{-if $expense.company_id != "0"-}-
					<option selected value="0"> -- -{-$smarty.const._EXPENSES_SELECT_DO_NOT_CUSTOMER -}--- </option>
				-{-else-}-
					<option selected value="0"> -- -{-$smarty.const._EXPENSES_SELECT_CUSTOMER -}--- </option>
				-{-/if-}-
					-{-foreach from=$customers item=value-}-
						<option value="-{-$value.id-}-" -{-if $expense.customer_id == $value.id-}-selected-{-/if-}->-{-$value.name-}- (-{-$value.city-}-)</option>
					-{-/foreach-}-
					</select>
			</div>
		</section>
			-{-if $connect_order-}-
			<section class="uk-form-row">
			<label class="uk-form-label" for="order_id">-{-$smarty.const._EXPENSES_CONNECT_ORDER-}-</label>
			<div class="uk-form-controls">
				<select name="order_id" class="uk-width-1-1" required>
				-{-if $expense.order_id != "0"-}-
					<option selected value="0"> -- -{-$smarty.const._EXPENSES_SELECT_DO_NOT -}--- </option>
				-{-else-}-
					<option selected value="0"> -- -{-$smarty.const._EXPENSES_SELECT_ORDER -}--- </option>
				-{-/if-}-
					-{-foreach from=$orders item=value-}-
						<option value="-{-$value.id-}-" -{-if $expense.order_id == $value.id-}-selected-{-/if-}-><strong>order</strong> #:-{-$value.number-}- | <strong>Customer</strong>:-{-$value.customer-}- | <strong>Date</strong>:-{-$value.date-}- | <strong>Description</strong>: -{-$value.description-}-</option>
					-{-/foreach-}-
					</select>
			</div>
		</section>
		-{-/if-}-
			<section class="uk-form-row">
			<label class="uk-form-label" for="order_description">-{-$smarty.const._EXPENSES_DESCRIPTION-}-</label>
			<div class="uk-form-controls">
				<p class="uk-form-help-block">-{-$smarty.const._EXPENSES_DESCRIPTION_HELP-}-</p>
				<textarea class="uk-width-1-1" id="description" name="description">-{-$expense.description-}-</textarea>
				<script>
					CKEDITOR.replace( 'description',
					{
						on :
						{
							instanceReady : function( ev )
							{
								// Output paragraphs as <p>Text</p>.
								this.dataProcessor.writer.setRules( 'p',
								{
									indent : false,
									breakBeforeOpen : false,
									breakAfterOpen : false,
									breakBeforeClose : false,
									breakAfterClose : false
								});
							}
						}
				 });
				</script>
			</div>
			</section>
			<section class="uk-form-row">
				<label class="uk-form-label" for="timezone">-{-$smarty.const._EXPENSES_TOTAL_EX-}-</label>
					<div class="uk-form-controls">
						<div class="uk-form-icon uk-width-1-1">
							<i class="uk-icon--{-$currency-}-"></i>
							<input class="uk-width-1-1" id="amount_ex" type="number" step="0.01" name="amount_ex" value="-{-$expense.amount_ex-}-" required>
						</div>
					</div>
			</section>
			<section class="uk-form-row">
				<label class="uk-form-label" for="timezone">-{-$smarty.const._EXPENSES_TOTAL_VAT-}-</label>
					<div class="uk-form-controls">
						<div class="uk-form-icon uk-width-1-1">
							<i class="uk-icon--{-$currency-}-"></i>
							<input class="uk-width-1-1" id="vat" type="number" step="0.01" name="vat" value="-{-$expense.vat-}-" required>
						</div>
					</div>
			</section>
			<section class="uk-form-row">
				<label class="uk-form-label" for="timezone">-{-$smarty.const._EXPENSES_TOTAL_IN-}-</label>
					<div class="uk-form-controls">
						<div class="uk-form-icon uk-width-1-1">
							<i class="uk-icon--{-$currency-}-"></i>
							<input class="uk-width-1-1" id="amount_in" type="number" step="0.01" name="amount_in" value="-{-$expense.amount_in-}-" required>
						</div>
					</div>
			</section>
			<section class="uk-form-row">
				<label class="uk-form-label" for="type">-{-$smarty.const._EXPENSES_TYPE-}-</label>
					<div class="uk-form-controls">
						<input class="uk-width-1-1" id="type" type="text" class="uk-width-1-1" name="type" value="-{-$expense.type-}-" required>
					</div>
			</section>
			<section class="uk-form-row">
				<label class="uk-form-label" for="invoice">-{-$smarty.const._EXPENSES_INVOICE-}-</label>
					<div class="uk-form-controls">
						<input class="uk-width-1-1" id="type" type="text" class="uk-width-1-1" name="invoice" value="-{-$expense.invoice-}-">
					</div>
			</section>
			<section class="uk-form-row">
				<label class="uk-form-label" for="files">-{-$smarty.const._EXPENSES_ATTACHMENT-}-</label>
					<div class="uk-form-controls">
					<table>
						<tr class="uk-table-middle">
							-{-if $attachment == false-}-
							<td class="uk-width-1-2">Name : <input id="files_name" type="text" class="uk-width-1-1" name="files_name" value=""></td>
							<td class="uk-width-1-2">File : <input class="uk-width-1-1 uk-file" id="files" type="file" class="uk-width-1-1" name="files" value=""></td>
							-{-else-}-
							<td class="uk-width-1-2">
								<input type="hidden" id="files_id" name="files_id" value="-{-$attachment.id-}-">
								<input type="hidden" id="files_old" name="files_old" value="-{-$attachment.file-}-">
								Name : <input id="files_name" type="text" class="uk-width-1-1" name="files_name" value="-{-$attachment.name-}-">
							</td>
							<td class="uk-width-1-2">File : <input class="uk-width-1-1 uk-file" id="files" type="file" class="uk-width-1-1" name="files" value="-{-$attachment.file-}-"></td>
						</tr>
						<tr>
						<td colspan="2" class="ukt-text-right">Current selected file : -{-$attachment.file-}-</td>
						</tr>
							-{-/if-}-
						</tr>
					</table>

					</div>
			</section>

			<section class="uk-form-row uk-margin-top">
				<div class="uk-form-icon uk-width-1-1">
					<i class="uk-icon-arrow-circle-right db-white"></i>
					<input type="submit" class="uk-button uk-button-primary uk-width-1-1 db-white" value="-{-$smarty.const._POST_SAVE-}-">
				</div>
			</section>
			</fieldset>
		</form>
	</div>
</div>
