<div class="uk-width-1-1">
	<div class="uk-panel uk-panel-box uk-panel-box-secondary">
		<h1 class="uk-panel-title">-{-$smarty.const._EXPENSES_INFO_HEADING-}-</h1>
		<p>-{-$smarty.const._EXPENSES_INFO_VIEW-}-</p>
		<p>-{-$additional_info-}-</p>
	</div>
</div>
<div class="uk-width-1-1 uk-margin">
	<div class="uk-panel uk-panel-box">
		<div class="uk-button-group uk-text-right uk-width-1-1 uk-text-right">
		-{-foreach from=$action_menu item=value-}-
			<a class="uk-button uk-button-primary uk-button-mini" href="-{-$value.link-}-" title="-{-$value.title-}-">&nbsp;<i class="uk-icon--{-$value.icon-}-"></i>&nbsp;</a>
		-{-/foreach-}-
		</div>
		<form id="expense-list" class="uk-form" method="post" action="-{-$DBA_URL-}-expenses/detail.html">
		<input type="hidden" name="module" value="expenses">
		<input type="hidden" name="action" value="detail">
		<div class="uk-overflow-container">
			<table class="uk-table uk-table-striped uk-table-condensed uk-table-hover" style="margin-top:0px;">
				<caption>-{-$smarty.const._EXPENSES_VIEW_HEADER-}-</caption>
					<thead>
						<tr>
							<th>-{-$smarty.const._EXPENSES_LIST_DATE-}-</th>
							<th>-{-$smarty.const._EXPENSES_LIST_NAME-}-</th>
							-{-if $expense.customer != false-}-<th>-{-$smarty.const._EXPENSES_LIST_CUSTOMER-}-</th>-{-/if-}-
							<th>-{-$smarty.const._EXPENSES_LIST_TYPE-}-</th>
							-{-if $expense.order-}-<th>-{-$smarty.const._EXPENSES_LIST_ORDER-}-</th>-{-/if-}-
							<th>-{-$smarty.const._EXPENSES_TOTAL_EX-}-</th>
							<th>-{-$smarty.const._EXPENSES_TOTAL_VAT-}-</th>
							<th>-{-$smarty.const._EXPENSES_TOTAL_IN-}-</th>
							-{-if $expense.invoice!=""-}-<th>-{-$smarty.const._EXPENSES_INVOICE-}-</th>-{-/if-}-
							<th class="uk-text-right">-{-$smarty.const._EXPENSES_LIST_ACTIONS-}-</th>
						</tr>
					</thead>
					<tbody>
							<tr class="-{-$value.color-}- uk-table-middle">
							<td>-{-$expense.date-}-</td>
							<td>-{-$expense.name-}-</td>
							-{-if $expense.customer != false-}-<td>-{-$expense.customer-}-</td>-{-/if-}-
							<td>-{-$expense.type-}-</td>
							-{-if $expense.order-}-<td>-{-$expense.order-}-</td>-{-/if-}-
							<td><i class="uk-icon--{-$prefs.currency-}-"></i> -{-$expense.amount_ex-}-</td>
							<td><i class="uk-icon--{-$prefs.currency-}-"></i> -{-$expense.vat-}-</td>
							<td><i class="uk-icon--{-$prefs.currency-}-"></i> -{-$expense.amount_in-}-</td>
							-{-if $expense.invoice!=""-}-<td>-{-$expense.invoice-}-</td>-{-/if-}-
							<td class="uk-text-right">
								<div class="uk-button-group">
									<button class="uk-button" type="submit" name="edit" value="-{-$expense.id-}-" title="-{-$smarty.const._EXPENSES_LIST_ACTIONS_EDIT-}-"><i class="uk-icon-pencil-square"></i></button>
									<button class="uk-button" id="expense-delete" type="submit" name="delete" value="-{-$expense.id-}-" title="-{-$smarty.const._EXPENSES_LIST_ACTIONS_DELETE-}-"><i class="uk-icon-trash"></i></button>
								</div>
							</td>
							</tr>
					</tbody>
				</table>
			</div>
		</form>
	</div>
	<div class="uk-panel uk-panel-box uk-scrollable-text" style="max-height:200px;">
		<h3 class="uk-panel-title">-{-$smarty.const._EXPENSES_DESCRIPTION-}-</h3>
			<div class="">-{-$expense.description-}-</div>
	</div>

	-{-if $file-}-
	<div class="uk-panel uk-panel-box" style="">
		<h3 class="uk-panel-title">-{-$smarty.const._EXPENSES_ATTACHMENT-}-<span class="uk-align-right uk-text-small">Name : <strong>-{-$file.name-}-</strong>-{-if $expense.order != false -}- | -{-$expense.order-}- -{-/if-}- <a class="uk-button uk-button-small" href="-{-$DBA_URL-}--{-$file.file-}-" download>Download</a></span></h3>
			<div class="uk-scrollable-text" style="clear:both;height:auto !important;" id="attacher"><embed src="" style="width:100%; height:500px"></div>
	</div>
	-{-/if-}-
</div>
<script>
$(document).ready(function() {
		$("#expense-delete").click(function(event) {
				if( !confirm('-{-$smarty.const._EXPENSES_LIST_ACTIONS_DELETE_CONFIRM-}-') )
						event.preventDefault();
		});
		$("#attacher embed").attr('src','-{-$DBA_URL-}--{-$file.file-}-');
});
</script>
