<div class="uk-width-large-1-1 uk-width-small-1-1">
	<div class="uk-panel uk-panel-box uk-panel-box-secondary">
		<h1 class="uk-panel-title">-{-$smarty.const._ITEMS_INFO_HEADING-}-</h1>
		<p>-{-$smarty.const._ITEMS_INFO_TEXT-}-</p>
		<p>-{-$additional_info-}-</p>
	</div>
</div>
<div class="uk-width-large-1-1 uk-width-small-1-1">
	<div class="uk-panel uk-panel-box">
	-{-if $action=="empty"-}-
	<div class="uk-button-group uk-text-right uk-width-1-1 uk-text-right">
		-{-foreach from=$action_menu item=value-}-
			<a class="uk-button uk-button-primary uk-button-mini" href="-{-$value.link-}-" title="-{-$value.title-}-">&nbsp;<i class="uk-icon--{-$value.icon-}-"></i>&nbsp;</a>
		-{-/foreach-}-
	</div>
	-{-/if-}-
	-{-if $action=="list"-}-
	<div class="uk-button-group uk-text-right uk-width-1-1 uk-text-right">
		-{-if $smarty.const.LICENCE_VALID == "VALID"-}-
		-{-foreach from=$action_menu item=value-}-
			<a class="uk-button uk-button-primary uk-button-mini" href="-{-$value.link-}-" title="-{-$value.title-}-">&nbsp;<i class="uk-icon--{-$value.icon-}-"></i></a>
		-{-/foreach-}-
		-{-/if-}-
	</div>
	<div class="uk-overflow-container">
		<form method="post" action="-{-$DBA_URL-}-preferences/items.html">
		<input type="hidden" name="module" value="items">
		<input type="hidden" name="action" value="edit">
		<table class="uk-table uk-margin-top-remove">
			<caption>Items list</caption>
			<thead>
				<tr>
					<th>-{-$smarty.const._ITEMS_LIST_NAME-}-</th>
					<th>-{-$smarty.const._ITEMS_LIST_PRICE-}-</th>
					<th>-{-$smarty.const._ITEMS_LIST_VAT-}-</th>
					<th class="uk-text-left">-{-$smarty.const._ITEMS_LIST_DESCRIPTION-}-</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
		-{-foreach from=$items item=value-}-
			<tr>
				<td>-{-$value.name-}-</td>
				<td>-{-$value.amount-}-</td>
				<td>-{-$value.vatname-}-</td>
				<td>-{-$value.description-}-</td>
				<td class="uk-text-right">
					<div class="uk-button-group">
						-{-if $smarty.const.LICENCE_VALID == "VALID"-}-
						<button class="uk-button" type="submit" name="id" value="-{-$value.id-}-"><i class="uk-icon-pencil-square"></i>&nbsp;</button>
						-{-/if-}-
					</div>
				</td>
			</tr>
		-{-/foreach-}-
			</tbody>
		</table>
	</div>
	-{-/if-}-
	-{-if $action=="new"-}-
	-{-if $novats==false-}-
	<form class="uk-form uk-form-horizontal" method="POST" action="-{-$DBA_URL-}-preferences/items.html">
		<fieldset class="data-uk-margin">
		<legend>-{-$smarty.const._ITEMS_LABEL_NEW-}-</legend>
		<input type="hidden" name="module" value="items">
		<input type="hidden" name="action" value="new">
		<section class="uk-form-row">
			<label class="uk-form-label" for="itemname">-{-$smarty.const._ITEMS_NAME-}-</label>
			<div class="uk-form-controls">
				<input class="uk-width-1-1" id="itemname" type="text" name="itemname" value="" required>
			</div>
		</section>
		<section class="uk-form-row">
			<label class="uk-form-label" for="itemprice">-{-$smarty.const._ITEMS_PRICE-}-</label>
			<div class="uk-form-controls">
				<input class="uk-width-1-1" id="itemprice" type="number" name="itemprice" value="" step="0.1" required>
			</div>
		</section>
		<section class="uk-form-row">
			<label class="uk-form-label" for="itemvat">-{-$smarty.const._ITEMS_VAT-}-</label>
			<div class="uk-form-controls">
				<select id="itemvat" name="itemvat" class="uk-width-1-1">
					-{-foreach $vats as $value-}-
						<option value="-{-$value.id-}-" required>-{-$value.name-}-</option>
					-{-/foreach-}-
					</select>
			</div>
		</section>
		<section class="uk-form-row">
			<label class="uk-form-label" for="itemdescription">-{-$smarty.const._ITEMS_DESCRIPTION-}-</label>
			<div class="uk-form-controls">
				<input class="uk-width-1-1" id="itemdescription" type="text" name="itemdescription" value="">
			</div>
		</section>
		<section class="uk-form-row">
			<div class="uk-form-icon uk-width-1-1">
				<i class="uk-icon-arrow-circle-right db-white"></i>
				<input class="uk-button uk-button-primary uk-width-1-1 db-white" type="submit" value="-{-$smarty.const._POST_SAVE-}-">
			</div>
		</section>
		</fieldset>
	</form>
	-{-/if-}-
	-{-/if-}-
	-{-if $action=="edit"-}-
	<div class="uk-button-group uk-text-right uk-width-1-1 uk-text-right" style="float:right;">
		-{-foreach from=$action_menu item=value-}-
			<a class="uk-button uk-button-primary uk-button-mini" href="-{-$value.link-}-" title="-{-$value.title-}-">&nbsp;<i class="uk-icon--{-$value.icon-}-"></i>&nbsp;</a>
		-{-/foreach-}-
	</div>
	<form class="uk-form uk-form-horizontal" method="POST" action="-{-$DBA_URL-}-preferences/items.html">
		<fieldset>
		<legend>-{-$smarty.const._VAT_LABEL_EDIT-}-</legend>
		<input type="hidden" name="module" value="items">
		<input type="hidden" name="action" value="edit-save">
		<input type="hidden" name="id" value="-{-$item.id-}-">
		<section class="uk-form-row">
		<label class="uk-form-label" for="itemname">-{-$smarty.const._ITEMS_NAME-}-</label>
		<div class="uk-form-controls">
			<input class="uk-width-1-1" id="itemname" type="text" name="itemname" value="-{-$item.name-}-">
			</div>
		</section>
		<section class="uk-form-row">
			<label class="uk-form-label" for="itemprice">-{-$smarty.const._ITEMS_PRICE-}-</label>
			<div class="uk-form-controls">
				<input class="uk-width-1-1" id="itemprice" type="number" name="itemprice" value="-{-$item.amount-}-" step="0.1" required>
			</div>
		</section>
		<section class="uk-form-row">
			<label class="uk-form-label" for="itemvat">-{-$smarty.const._ITEMS_VAT-}-</label>
			<div class="uk-form-controls">
				<select id="itemvat" name="itemvat" class="uk-width-1-1">
					-{-foreach $vats as $value-}-
						<option value="-{-$value.id-}-" required -{-if $item.vat_id==$value.id-}-selected-{-/if-}->-{-$value.name-}-</option>
					-{-/foreach-}-
					</select>
			</div>
		</section>
		<section class="uk-form-row">
			<label class="uk-form-label" for="itemdescription">-{-$smarty.const._ITEMS_DESCRIPTION-}-</label>
			<div class="uk-form-controls">
				<input class="uk-width-1-1" id="itemdescription" type="text" name="itemdescription" value="-{-$item.description-}-">
			</div>
		</section>
		<section class="uk-form-row">
			<div class="uk-form-controls uk-text-right">
				<input type="checkbox" name="delete" value="delete" /> delete
			</div>
			</section>
		<section class="uk-form-row">
			<div class="uk-form-icon uk-width-1-1">
				<i class="uk-icon-arrow-circle-right db-white"></i>
				<input class="uk-button uk-button-primary uk-width-1-1 db-white" type="submit" value="-{-$smarty.const._POST_SAVE-}-">
			</div>
		</section>
		</fieldset>
	</form>
	-{-/if-}-
</div>
	</div>
