<div class="uk-width-large-1-1 uk-width-small-1-1">
	<div class="uk-panel uk-panel-box uk-panel-box-secondary">
		<h1 class="uk-panel-title">-{-$smarty.const._ORDERS_INFO_HEADING-}-</h1>
		<p>-{-$smarty.const._ORDERS_INFO_TEXT-}-</p>
		<p>-{-$additional_info-}-</p>
	</div>
</div>


