-{-if $action=="list"-}-
<div class="uk-width-1-1">
	<div class="uk-panel uk-panel-box uk-panel-box-secondary">
		<h1 class="uk-panel-title">-{-$smarty.const._ORDERS_INFO_HEADING-}-</h1>
		<p>-{-$smarty.const._ORDERS_INFO_TEXT-}-</p>
		<p>-{-$additional_info-}-</p>
	</div>
</div>
<div class="uk-width-1-1 uk-margin">
	<div class="uk-panel uk-panel-box">
		<div class="uk-button-group uk-text-right uk-width-1-1 uk-text-right">
		-{-if $smarty.const.LICENCE_VALID == "VALID"-}-
		-{-foreach from=$action_menu item=value-}-
			<a class="uk-button uk-button-primary uk-button-mini" href="-{-$value.link-}-" title="-{-$value.title-}-">&nbsp;<i class="uk-icon--{-$value.icon-}-"></i>&nbsp;</a>
		-{-/foreach-}-
		-{-/if-}-
		</div>
		<form class="uk-form" method="post" action="-{-$DBA_URL-}-orders/detail.html">
		<input type="hidden" name="module" value="orders">
		<input type="hidden" name="action" value="detail">
		<div class="uk-overflow-container">
			<table class="uk-table uk-table-striped uk-table-condensed uk-table-hover" style="margin-top:0px;">
				<caption>Orders list</caption>
					<thead>
						<tr>
							<th>-{-$smarty.const._ORDERS_LIST_ORDER_NR-}-</th>
							<th>-{-$smarty.const._ORDERS_CUSTOMERS_NAME-}-</th>
							<th>-{-$smarty.const._ORDERS_LIST_ORDER_DATE-}-</th>
							<th>-{-$smarty.const._ORDERS_LIST_ORDER_TOTAL-}-</th>
							<th>-{-$smarty.const._ORDERS_LIST_ORDER_STATUS-}-</th>
							<th>-{-$smarty.const._ORDERS_LIST_ORDER_OPEN-}-</th>
							<th>-{-$smarty.const._ORDERS_LIST_ORDER_AGE-}-</th>
							<th class="uk-text-right">-{-$smarty.const._ORDERS_LIST_ORDER_ACTIONS-}-</th>
						</tr>
					</thead>
					<tbody>
						-{-foreach from=$orders item=value-}-
							<tr class="-{-$value.color-}- uk-table-middle">
							<td>-{-$value.order_name-}-</td>
							<td>-{-$value.order_customer-}-</td>
							<td>-{-$value.date-}-</td>
							<td><i class="uk-icon--{-$prefs.currency-}-"></i> -{-$value.amount_in-}-</td>
							<td>-{-$value.status-}-</td>
							-{-if $value.status != "closed"-}-
							<td><i class="uk-icon--{-$prefs.currency-}-"></i> -{-$value.order_open-}-</td>
							<td>-{-$value.order_age-}- -{-if $value.order_age > $prefs.paydays-}-[-{-math equation="x - y" x=$value.order_age y=$prefs.paydays-}- day(s) overdue]-{-/if-}-</td>
							-{-else-}-
							<td></td><td></td>
							-{-/if-}-
							<td class="uk-text-right">
								<div class="uk-button-group">
								-{-if $value.order_age > $prefs.paydays && $value.status != "closed"-}-
								<button class="uk-button" type="submit" name="reminder" value="-{-$value.id-}-" title="-{-$smarty.const._ORDERS_LIST_ACTIONS_REMINDER-}-"><i class="uk-icon-envelope-o"></i>&nbsp;</button>
								-{-/if-}-
									<button class="uk-button" type="submit" name="pdf" value="-{-$value.id-}-" title="-{-$smarty.const._ORDERS_LIST_ACTIONS_PDF-}-"><i class="uk-icon-file-pdf-o"></i>&nbsp;</button>
									<button class="uk-button" type="submit" name="view" value="-{-$value.id-}-" title="-{-$smarty.const._ORDERS_LIST_ACTIONS_VIEW-}-"><i class="uk-icon-search"></i>&nbsp;</button>
									-{-if $smarty.const.LICENCE_VALID == "VALID"-}-
									<button class="uk-button" type="submit" name="edit" value="-{-$value.id-}-" title="-{-$smarty.const._ORDERS_LIST_ACTIONS_EDIT-}-"><i class="uk-icon-pencil-square"></i>&nbsp;</button>
									-{-/if-}-
									<button class="uk-button" type="submit" target="_blank" name="print" value="-{-$value.id-}-" title="-{-$smarty.const._ORDERS_LIST_ACTIONS_PRINT-}-"><i class="uk-icon-print"></i>&nbsp;</button><!--
									-{-if $value.status != "closed"-}-
								--><button class="uk-button" type="submit" name="payment" value="-{-$value.id-}-" title="-{-$smarty.const._ORDERS_LIST_ACTIONS_PAYMENT-}-"><i class="uk-icon-usd"></i>&nbsp;</button><!--
									-{-/if-}-
									-{-if $smarty.const.LICENCE_VALID == "VALID"-}-
								--><button class="uk-button" id="order-delete-{-$value.id-}-" type="submit" name="delete" value="-{-$value.id-}-" title="-{-$smarty.const._ORDERS_LIST_ACTIONS_DELETE-}-"><i class="uk-icon-trash"></i></button>
								-{-/if-}-
								</div>
							</td>
							</tr>
							-{-/foreach-}-
					</tbody>
				</table>
			</div>
		</form>
	</div>
</div>
<script>
$(document).ready(function() {
		$('[id^="order-delete"]').click(function(event) {
				if( !confirm('-{-$smarty.const._ORDERS_LIST_ACTIONS_DELETE_CONFIRM-}-') )
						event.preventDefault();
		});
});

</script>
-{-/if-}-
