<div class="uk-width-large-1-1 uk-width-small-1-1">
	<div class="uk-panel uk-panel-box uk-panel-box-secondary">
		<h1 class="uk-panel-title">-{-$smarty.const._ORDERS_INFO_HEADING-}-</h1>
		<p>-{-$smarty.const._ORDERS_INFO_TEXT-}-</p>
		<p>-{-$additional_info-}-</p>
	</div>
</div>
<div class="uk-width-large-1-1 uk-width-small-1-1">
	<div class="uk-panel uk-panel-box">
	<form class="uk-form uk-form-horizontal" id="orderform" method="POST" action="-{-$DBA_URL-}-orders.html">
		<fieldset class="data-uk-margin">
		<legend>-{-$smarty.const._ORDERS_LABEL_NEW-}-</legend>
		<input type="hidden" name="module" value="orders">
		<input type="hidden" name="action" value="edit-save">
		<input type="hidden" name="id" value="-{-$order.id-}-">
		<section class="uk-form-row">
			<label class="uk-form-label" for="order_date">-{-$smarty.const._ORDERS_DATE-}-</label>
			<div class="uk-form-controls">
				<input class="uk-width-1-1" id="order_date" placeholder ="YYYY-MM-DD" type="text" name="order_date" value="-{-$order.date-}-" required data-uk-datepicker="{format:'YYYY-MM-DD'}">
			</div>
		</section>
		<section class="uk-form-row">
			<label class="uk-form-label" for="order_customer">-{-$smarty.const._ORDERS_CUSTOMERS_NAME-}-</label>
			<div class="uk-form-controls">
				<select id="order_customer" name="order_customer" class="uk-width-1-1" required>
					<option disabled selected value="0"> -- -{-$smarty.const._ORDERS_SELECT_CUSTOMER -}--- </option>';
					-{-foreach from=$customers item=value-}-
						<option value="-{-$value.id-}-" required -{-if $order.customer_id == $value.id-}-selected-{-/if-}->-{-$value.name-}- (-{-$value.city-}-)</option>
					-{-/foreach-}-
					</select>
			</div>
		</section>
		<section id="contact-customer" class="uk-form-row">

		</section>
		<section class="uk-form-row">
			<label class="uk-form-label" for="order_description">-{-$smarty.const._ORDERS_DESCRIPTION-}-</label>
			<div class="uk-form-controls">
				<p class="uk-form-help-block">-{-$smarty.const._ORDERS_DESCRIPTION_HELP-}-</p>
				<textarea class="uk-width-1-1" id="order_description" name="order_description">-{-$order.description-}-</textarea>
				<script>
					CKEDITOR.replace( 'order_description',
					{
						on :
						{
							instanceReady : function( ev )
							{
								// Output paragraphs as <p>Text</p>.
								this.dataProcessor.writer.setRules( 'p',
								{
									indent : false,
									breakBeforeOpen : false,
									breakAfterOpen : false,
									breakBeforeClose : false,
									breakAfterClose : false
								});
							}
						}
				 });
				</script>
			</div>
		</section>
		<section class="uk-form-row">
			<label class="uk-form-label" for="order_internal_note">-{-$smarty.const._ORDERS_NOTE_INTERNAL-}-</label>
			<div class="uk-form-controls">
				<p class="uk-form-help-block">-{-$smarty.const._ORDERS_NOTE_INTERNAL_HELP-}-</p>
				<textarea class="uk-width-1-1" id="order_internal_note" name="order_internal_note">-{-$order.description_internal-}-</textarea>
			</div>
		</section>
		</fieldset>
		<fieldset class="data-uk-margin uk-width-1-1">
		<legend>-{-$smarty.const._ORDERS_ITEM_ITEMS-}-</legend>
		<section class="uk-form-row">
		<div class="uk-width-1-1 uk-panel uk-display-inline-block uk-panel-box uk-margin-remove">
			<table class="uk-table" id="itemLines">
			<caption>-{-$smarty.const._ORDERS_ITEM_ITEMS-}-</caption>
			<thead>
				<tr>
					<th class="uk-text-small uk-text-center">-{-$smarty.const._ORDERS_ITEM_AMOUNT-}-</th>
					<th class="uk-text-small">-{-$smarty.const._ORDERS_ITEM_ITEM-}-</th>
					<th class="uk-text-small uk-text-center">-{-$smarty.const._ORDERS_ITEM_VAT_PERCENTAGE-}-</th>
					<th class="uk-text-small uk-text-center">-{-$smarty.const._ORDERS_ITEM_PRICE-}-</th>
					<th class="uk-text-small uk-text-center">-{-$smarty.const._ORDERS_ITEM_TOTAL-}-</th>
					<th class="uk-text-small uk-text-center">-{-$smarty.const._ORDERS_ITEM_ADD_TEMPLATE-}-</th>
				</tr>
			</thead>
			<tfoot></tfoot>
			<tbody>
				<tr id="0">
				<td class="uk-width-1-10"><input id="amount0" class="uk-width-1-1" type="number" name="order_item_amount[]" value="1" step=".01"></td>
				<td class="uk-width-6-10"><input id="description0" class="uk-width-1-1" type="text" name="order_item_description[]" value=""></td>
				<td class="uk-width-1-10"><input id="vat0" class="uk-width-1-1" type="text" name="order_item_vat[]" value=""><input id="vatid0" class="uk-width-1-1" type="hidden" name="order_item_vatid[]" value=""></td>
				<td class="uk-width-1-10"><input id="price0" class="uk-width-1-1" type="text" name="order_item_price[]" value=""></td>
				<td class="uk-width-1-10"><input id="total0" class="uk-width-1-1" type="text" name="order_item_total[]" value=""></td>
				<td class="uk-width-1-10">
				-{-if $noitems-}-
				-{-$smarty.const._ORDERS_NO_ITEMS-}-
				-{-else-}-
					<select id="template0">
						<option value="0" disabled selected value>Pick from template</option>
						-{-foreach from=$items item=item-}-
						<option data-name="-{-$item.name-}-" data-price="-{-$item.amount-}-" data-vat="-{-$item.vat-}-" data-vatid="-{-$item.vat_id-}-" value="-{-$item.id-}-">-{-$item.name-}-</option>
						-{-/foreach-}-
						</select>
				-{-/if-}-
				</td>
				</tr>
				-{-foreach from=$details item=detail-}-
				<tr id="-{-$detail@index + 1-}-">
				<td class="uk-width-1-10"><input id="amount-{-$detail@index + 1-}-" class="uk-width-1-1" type="number" name="order_item_amount[]" value="-{-$detail.amount-}-" step=".01" required></td>
				<td class="uk-width-6-10"><input id="description-{-$detail@index + 1-}-" class="uk-width-1-1" type="text" name="order_item_description[]" value="-{-$detail.item_name-}-" required></td>
				<td class="uk-width-1-10"><input id="vat-{-$detail@index + 1-}-" class="uk-width-1-1" type="text" name="order_item_vat[]" value="-{-math equation="x / y * 100" x=$detail.vat y=$detail.price_total-}-" required><input id="vatid-{-$detail@index + 1-}-" class="uk-width-1-1" type="hidden" name="order_item_vatid[]" value="-{-$detail.vat_id-}-"></td>
				<td class="uk-width-1-10"><input id="price-{-$detail@index + 1-}-" class="uk-width-1-1" type="text" name="order_item_price[]" value="-{-$detail.price-}-" required></td>
				<td class="uk-width-1-10"><input id="total-{-$detail@index + 1-}-" class="uk-width-1-1" type="text" name="order_item_total[]" value="-{-$detail.price_total-}-" required></td>
				<td class="uk-width-1-10">
				-{-if $noitems-}-
				-{-$smarty.const._ORDERS_NO_ITEMS-}-
				-{-else-}-
					<select name="" id="template1">
						<option value="0" disabled selected value>Pick from template</option>
						-{-foreach from=$items item=item-}-
						<option data-name="-{-$item.name-}-" data-price="-{-$item.amount-}-" data-vat="-{-$item.vat-}-" data-vatid="-{-$item.vatid-}-" value="-{-$item.id-}-">-{-$item.name-}-</option>
						-{-/foreach-}-
						</select>
				-{-/if-}-
				</td>
				</tr>
				-{-/foreach-}-
				<tr id="addrow"></tr>
			</tbody>
			</table>
		</div>
		<div class="uk-width-1-1">
			<a id="add_row" class="uk-button uk-button-primary uk-align-left">-{-$smarty.const._ORDERS_ITEM_ADD_ROW-}-</a>
			<a id="delete_row" class="uk-button uk-button-primary uk-align-right">-{-$smarty.const._ORDERS_ITEM_DEL_ROW-}-</a>
		</div>
			</section>
		<section class="uk-form-row uk-margin-large">
			<div class="uk-width-1-1 uk-panel uk-display-inline-block uk-panel-box uk-panel-box-primary">
			<table id="tab_logic" class="uk-table uk-margin-large">
			<thead>
				<tr class="uk-table-middle">
					<th colspan="2" class="uk-width-5-10 uk-text-right">-{-$smarty.const._ORDERS_TOTAL_EX-}-</th>
					<th colspan="2" class="uk-width-2-10 uk-text-right">-{-$smarty.const._ORDERS_TOTAL_VAT-}-</th>
					<th colspan="2" class="uk-width-2-10 uk-text-right">-{-$smarty.const._ORDERS_TOTAL_IN-}-</th>
				</tr>
			</thead>
			<tfoot></tfoot>
			<tbody>
				<tr class="uk-table-middle">
				<td class="uk-width-1-10 uk-text-right"><i class="uk-icon--{-$currency-}-"></i></td>
				<td class="uk-width-2-10"><input class="uk-width-1-1" id="order_total_ex" type="text" name="order_total_ex" value="-{-$order.amount_ex-}-" required></td>
				<td class="uk-width-1-10 uk-text-right"><i class="uk-icon--{-$currency-}-"></i></td>
				<td class="uk-width-2-10"><input class="uk-width-1-1 " id="order_total_vat" type="text" name="order_total_vat" value="-{-$order.vat-}-" required></td>
				<td class="uk-width-1-10 uk-text-right"><i class="uk-icon--{-$currency-}-"></i></td>
				<td class="uk-width-2-10"><input class="uk-width-1-1" id="order_total_in" type="text" name="order_total_in" value="-{-$order.amount_in-}-" required></td>
				</tr>
			</tbody>
			</table>
		</div>
		</section>
		<section class="uk-form-row">
			<div class="uk-form-icon uk-width-1-1">
				<i class="uk-icon-arrow-circle-right db-white"></i>
				<input class="uk-button uk-button-primary uk-width-1-1 db-white" type="submit" value="-{-$smarty.const._POST_SAVE-}-">
			</div>
		</section>
		<section class="uk-form-row">
			<div class="uk-width-1-1 uk-panel"></div>
		</section>
		</fieldset>
	</form>
</div>
	</div>
	<script src="-{-$DBA_URL-}-assets/js/orders.js"></script>
	<script>$(document).ready(function()
		{
			var cid = -{-$order.contacts_id-}-;
			if (cid != 0) {
			$("#contact-customer").load( "-{-$DBA_URL-}-api.html", { module : "api", action : "showcontact", id : $('#order_customer').val(), cid : cid});
			} else {
				$("#contact-customer").load( "-{-$DBA_URL-}-api.html", { module : "api", action : "showcontact", id : $('#order_customer').val()});
			}
		}
);

</script>
