<div class="uk-width-1-1 uk-margin">
	<div class=" uk-panel-box">
		<table class="uk-width-1-1">
		<tr class="uk-table-top">
			<td colspan="2" class="uk-panel-box uk-width-2-4 uk-text-top uk-text-right">
				<table class="uk-width-1-1">
					<tr>
						<td>-{-$smarty.const._ORDERS_VIEW_CUSTOMER-}-</td><td><strong><a href="-{-$smarty.const.DBA_URL-}-/find/customer/-{-$order.customer_id-}-.html">-{-$customer.name-}-</a></strong></td>
					</tr>
					<tr>
						<td class="uk-text-top">-{-$smarty.const._ORDERS_VIEW_CUSTOMER_ADDRESS-}-</td>
						<td>-{-$customer.address-}-<br>
							-{-$customer.pcode-}- &nbsp;-{-$customer.city-}-<br>
							-{-$customer.country-}-
						</td>
					</tr>
				</table>
			</td>
			<td class="uk-panel-box uk-width-1-4 uk-text-top uk-text-right">
				<table class="uk-width-1-1">
					<tr>
						<td>-{-$smarty.const._ORDERS_VIEW_ORDER_NR-}-</td><td class="dba-value">-{-$order.number-}-</td>
					</tr>
					<tr>
						<td>-{-$smarty.const._ORDERS_VIEW_DATE-}-</td><td class="dba-value">-{-$order.date-}-</td>
					</tr>
					<tr>
						<td>-{-$smarty.const._ORDERS_VIEW_STATUS-}-</td><td class="dba-value">-{-$order.status-}-</td>
					</tr>
				</table>
			</td>
			<td class="uk-text-right">
			<form id="orders-view" class="uk-form" method="post" action="-{-$DBA_URL-}-orders/view.html">
			<input type="hidden" name="module" value="orders">
			<input type="hidden" name="action" value="detail">
			<input type="hidden" name="return" value="view">
				<button class="uk-button" type="submit" name="pdf" value="-{-$order.id-}-" title="-{-$smarty.const._ORDERS_LIST_ACTIONS_PDF-}-"><i class="uk-icon-file-pdf-o"></i>&nbsp;</button>
				-{-if $smarty.const.LICENCE_VALID == "VALID"-}-
				<button class="uk-button" type="submit" name="edit" value="-{-$order.id-}-" title="-{-$smarty.const._ORDERS_LIST_ACTIONS_EDIT-}-"><i class="uk-icon-pencil-square"></i>&nbsp;</button>
				-{-/if-}-
				-{-foreach from=$print_lang item=lang-}-
					<button style="background-image:url(-{-$smarty.const.DBA_URL-}-/assets/images/flags/-{-$lang-}-.png);" class="uk-button db-flag" type="submit" target="_blank" name="print_-{-$lang-}-" value="-{-$order.id-}-" title="-{-$smarty.const._ORDERS_LIST_ACTIONS_PRINT-}- -{-$lang-}-"><i class="uk-icon-print"></i>&nbsp;</button>
				-{-/foreach-}-
				-{-if $order.status != "closed"-}-
				<button class="uk-button" type="submit" name="payment" value="-{-$order.id-}-" title="-{-$smarty.const._ORDERS_LIST_ACTIONS_PAYMENT-}-"><i class="uk-icon-usd"></i>&nbsp;</button>
				-{-/if-}-
				-{-if $smarty.const.LICENCE_VALID == "VALID"-}-
				<button class="uk-button" id="order-delete" type="submit" name="delete" value="-{-$order.id-}-" title="-{-$smarty.const._ORDERS_LIST_ACTIONS_DELETE-}-"><i class="uk-icon-trash"></i></button>
				-{-/if-}-
				</form>
			</td>
		</tr>
			<tr>
				-{-if $order.hasexpenses-}-
				<td class="uk-panel-box uk-width-1-4 uk-text-top uk-text-right">
					<table class="uk-width-1-1">
						<tr>
							<td colspan="2"><strong>-{-$smarty.const._ORDERS_VIEW_INCOME-}-</strong></td>
						</tr>
						<tr>
							<td>-{-$smarty.const._ORDERS_TOTAL_EX-}-</td><td class="uk-text-right">&-{-$prefs.currency-}-;<strong> -{-$order.amount_ex-}-</strong></td>
						</tr>
						<tr>
							<td>-{-$smarty.const._ORDERS_VAT-}-</td><td class="uk-text-right" style="border-bottom:3px double">&-{-$prefs.currency-}-;<strong> -{-$order.vat-}-</strong></td><td><strong>+</strong></td>
						</tr>
						<tr>
							<td>-{-$smarty.const._ORDERS_TOTAL_IN-}-</td><td class="uk-text-right">&-{-$prefs.currency-}-;<strong> -{-$order.amount_in-}-</strong></td>
						</tr>
					</table>
				</td>


				<td class="uk-panel-box uk-width-1-4 uk-text-top uk-text-right">
					<table class="uk-width-1-1">
						<tr>
							<td colspan="2"><strong>-{-$smarty.const._ORDERS_VIEW_EXPENSES-}-</strong></td>
						</tr>
						<tr>
							<td>-{-$smarty.const._ORDERS_TOTAL_EX-}-</td><td class="uk-text-right">&-{-$prefs.currency-}-;<strong> -{-$expense.total_amount_ex-}-</strong></td>
						</tr>
						<tr>
							<td>-{-$smarty.const._ORDERS_VAT-}-</td><td class="uk-text-right" style="border-bottom:3px double">&-{-$prefs.currency-}-;<strong> -{-$expense.total_vat-}-</strong></td><td><strong>+</strong></td>
						</tr>
						<tr>
							<td>-{-$smarty.const._ORDERS_TOTAL_IN-}-</td><td class="uk-text-right">&-{-$prefs.currency-}-;<strong> -{-$expense.total_amount_in-}-</strong></td>
						</tr>
					</table>
					</td>
					<td class="uk-panel-box uk-width-1-4 uk-text-top uk-text-right">
					<table class="uk-width-1-1">
						<tr>
							<td colspan="2"><strong>-{-$smarty.const._ORDERS_VIEW_TOTALS-}-</strong></td>
						</tr>
						<tr>
							<td>-{-$smarty.const._ORDERS_TOTAL_EX-}-</td><td class="uk-text-right">&-{-$prefs.currency-}-;<strong> <span style="color:-{-$order.warning-}-;">-{-$order.total_amount_ex-}-</span></strong></td>
						</tr>
						<tr>
							<td>-{-$smarty.const._ORDERS_VAT-}-</td><td class="uk-text-right" style="border-bottom:3px double">&-{-$prefs.currency-}-;<strong> <span style="color:-{-$order.warning-}-;">-{-$order.total_vat-}-</span></strong></td><td><strong>+</strong></td>
						</tr>
						<tr>
							<td>-{-$smarty.const._ORDERS_TOTAL_IN-}-</td><td class="uk-text-right">&-{-$prefs.currency-}-;<strong> <span style="color:-{-$order.warning-}-;">-{-$order.total_amount_in-}-</span></strong></td>
						</tr>
					</table>
					</td>
					<td class="uk-panel-box uk-width-1-4 uk-text-top uk-text-right">
						<table class="uk-width-1-1">
							<tr>
								<td colspan="2"><strong>-{-$smarty.const._PAYMENTS-}-</strong></td>
							</tr>
								-{-if $order.haspayments-}-
									-{-foreach from=$payments item=payment-}-
									<tr>
										<td>-{-$payment.date-}-</td>
										<td class="uk-text-right">&-{-$prefs.currency-}-; -{-$payment.amount-}-</td>
									</tr>
									-{-/foreach-}-
								-{-/if-}-
							<tr>
								<td>Total payed</td><td class="uk-text-right">&-{-$prefs.currency-}-; <strong>-{-$total_payments-}-</strong></td></tr>
								-{-if $order.status!="closed"-}-
								<tr>
									<td>Still open</td><td class="uk-text-right">&-{-$prefs.currency-}-; <strong>-{-$order_open-}-</strong></td>
							</tr>
							-{-/if-}-
						</table>
					</td>
				-{-else-}-

				<td class="uk-panel-box uk-width-1-4 uk-text-top uk-text-right">
					<table class="uk-width-1-1">
						<tr>
							<td colspan="2"><strong>-{-$smarty.const._ORDERS_VIEW_TOTALS-}-</strong></td>
						</tr>
						<tr>
							<td>-{-$smarty.const._ORDERS_TOTAL_EX-}-</td><td class="uk-text-right">&-{-$prefs.currency-}-;<strong> -{-$order.amount_ex-}-</strong></td>
						</tr>
						<tr>
							<td>-{-$smarty.const._ORDERS_VAT-}-</td><td class="uk-text-right" style="border-bottom:3px double">&-{-$prefs.currency-}-;<strong> -{-$order.vat-}-</strong></td><td><strong>+</strong></td>
						</tr>
						<tr>
							<td>-{-$smarty.const._ORDERS_TOTAL_IN-}-</td><td class="uk-text-right">&-{-$prefs.currency-}-;<strong> -{-$order.amount_in-}-</strong></td>
						</tr>
					</table>
					</td>
					<td class="uk-panel-box uk-width-1-4 uk-text-top uk-text-right">
						<table class="uk-width-1-1">
							<tr>
								<td>-{-$smarty.const._ORDERS_VIEW_CUSTOMER-}-</td><td><strong><a href="-{-$smarty.const.DBA_URL-}-/find/customer/-{-$order.customer_id-}-.html">-{-$customer.name-}-</a></strong></td>
							</tr>
							<tr>
								<td class="uk-text-top">-{-$smarty.const._ORDERS_VIEW_CUSTOMER_ADDRESS-}-</td>
								<td>-{-$customer.address-}-<br>
									-{-$customer.pcode-}- &nbsp;-{-$customer.city-}-<br>
									-{-$customer.country-}-
								</td>
							</tr>
							<tr><td colspan="2"><hr></td></tr>
							<tr>
								<td>-{-$smarty.const._ORDERS_VIEW_ORDER_NR-}-</td><td class="dba-value">-{-$order.number-}-</td>
							</tr>
							<tr>
								<td>-{-$smarty.const._ORDERS_VIEW_DATE-}-</td><td class="dba-value">-{-$order.date-}-</td>
							</tr>
							<tr>
								<td>-{-$smarty.const._ORDERS_VIEW_STATUS-}-</td><td class="dba-value">-{-$order.status-}-</td>
							</tr>
						</table>
					</td>
				-{-/if-}-
				</tr>
			</table>
		-{-if $order.hasexpenses-}-
			<div class="uk-panel uk-panel-box uk-overflow-container">
				<table class="uk-table uk-table-striped uk-table-condensed uk-table-hover">
					<caption>-{-$smarty.const._ORDERS_VIEW_EXPENSES-}-</caption>
						<thead>
							<tr>
								<th></th>
								<th>-{-$smarty.const._ORDERS_VIEW_EXPENSE_DATE-}-</th>
								<th>-{-$smarty.const._ORDERS_VIEW_EXPENSE_NAME-}-</th>
								<th class="uk-text-right">-{-$smarty.const._ORDERS_VIEW_EXPENSE_TOTAL_EX-}-</th>
								<th class="uk-text-right">-{-$smarty.const._ORDERS_VIEW_EXPENSE_TOTAL_VAT-}-</th>
								<th class="uk-text-right">-{-$smarty.const._ORDERS_VIEW_EXPENSE_TOTAL_IN-}-</th>
							</tr>
						</thead>
						<tbody>
						-{-foreach from=$expenses item=value-}-
						<tr>
							<td class="uk-width-1-10 uk-text-middle"><a href="-{-$smarty.const.DBA_URL-}-find/expense/-{-$value.id-}-.html"><button class="uk-button"><span class="uk-icon-search"></span></button></a></td>
							<td class="uk-width-1-10 uk-text-middle">
								-{-$value.date-}-
							</td>
							<td class="uk-width-2-10 uk-text-middle">
								-{-$value.name-}-
							</td>
							<td class="uk-width-2-10 uk-text-right uk-text-middle">
								&-{-$prefs.currency-}-; -{-$value.amount_ex-}-
							</td>
							<td class="uk-width-2-10 uk-text-right uk-text-middle">
								&-{-$prefs.currency-}-; -{-$value.vat-}-
							</td>
							<td class="uk-width-2-10 uk-text-right uk-text-middle">
								&-{-$prefs.currency-}-; -{-$value.amount_in-}-
							</td>
						</tr>
						-{-/foreach-}-
						</tbody>
					</table>
				</div>
			-{-/if-}-
		-{-if $order.hasitems-}-
		<div class="uk-panel uk-panel-box uk-overflow-container">
			<table class="uk-table uk-table-striped uk-table-condensed uk-table-hover">
				<caption>-{-$smarty.const._ORDERS_ITEM_ITEMS-}-</caption>
					<thead>
						<tr>
							<th>-{-$smarty.const._ORDERS_ITEM_AMOUNT-}-</th>
							<th>-{-$smarty.const._ORDERS_ITEM_ITEM-}-</th>
							<th>-{-$smarty.const._ORDERS_VAT-}-</th>
							<th class="uk-text-right">-{-$smarty.const._ORDERS_ITEM_PRICE-}-</th>
							<th class="uk-text-right">-{-$smarty.const._ORDERS_ITEM_TOTAL-}-</th>
						</tr>
					</thead>
					<tbody>
					-{-foreach from=$items item=value-}-
					<tr>
						<td class="uk-width-1-10">
							-{-$value.amount-}-
						</td>
						<td class="uk-width-4-10">
							-{-$value.item_name-}-
						</td>
						<td class="uk-width-1-10">
							-{-$value.vat_type-}-
						</td>
						<td class="uk-width-2-10 uk-text-right">
							&-{-$prefs.currency-}-; -{-$value.price-}-
						</td>
						<td class="uk-width-2-10 uk-text-right">
							&-{-$prefs.currency-}-; -{-$value.price_total-}-
						</td>
					</tr>
					-{-/foreach-}-
					</tbody>
				</table>
			</div>
			-{-/if-}-

	</div>
	-{-if $order.description != ""-}-
	<div class="uk-panel uk-panel-box uk-scrollable-text" style="max-height:200px;">
		<h3 class="uk-panel-title">-{-$smarty.const._ORDERS_DESCRIPTION-}-</h3>
			<div class="">-{-$order.description-}-</div>
	</div>
	-{-/if-}-
	-{-if $order.description_internal != ""-}-
	<div class="uk-panel uk-panel-box" style="max-height:200px;">
		<h3 class="uk-panel-title">-{-$smarty.const._ORDERS_NOTE_INTERNAL-}-</h3>
			<div class="">-{-$order.description_internal-}-</div>
	</div>
	-{-/if-}-
</div>
<script>
$(document).ready(function() {
		$("#order-delete").click(function(event) {
				if( !confirm('-{-$smarty.const._ORDERS_LIST_ACTIONS_DELETE_CONFIRM-}-') )
						event.preventDefault();
		});
});
</script>
