<div class="uk-width-large-1-1 uk-width-small-1-1">
	<div class="uk-panel uk-panel-box uk-panel-box-secondary">
		<h1 class="uk-panel-title">-{-$smarty.const._ORDERS_INFO_HEADING-}-</h1>
		<p>-{-$smarty.const._ORDERS_INFO_TEXT-}-</p>
		<p>-{-$additional_info-}-</p>
	</div>
</div>
<div class="uk-width-large-1-1 uk-width-small-1-1">
	<div class="uk-panel uk-panel-box">
		<div class="uk-button-group uk-text-right uk-width-1-1 uk-text-right">
		-{-foreach from=$action_menu item=value-}-
			<a class="uk-button uk-button-primary uk-button-mini" href="-{-$value.link-}-" title="-{-$value.title-}-">&nbsp;<i class="uk-icon--{-$value.icon-}-"></i>&nbsp;</a>
		-{-/foreach-}-
		</div>
	</div>
</div>

