-{-if $action=="list"-}-
<div class="uk-width-1-1">
	<div class="uk-panel uk-panel-box uk-panel-box-secondary">
		<h1 class="uk-panel-title">-{-$smarty.const._PAYMENTS_INFO_HEADING-}-</h1>
		<p>-{-$smarty.const._PAYMENTS_INFO_TEXT-}-</p>
		<p>-{-$additional_info-}-</p>
	</div>
</div>
<div class="uk-width-1-1 uk-margin">
	<div class="uk-panel uk-panel-box">
		<div class="uk-button-group uk-text-right uk-width-1-1 uk-text-right">
			-{-if $smarty.const.LICENCE_VALID == "VALID"-}-
		-{-foreach from=$action_menu item=value-}-
			<a class="uk-button uk-button-primary uk-button-mini" href="-{-$value.link-}-" title="-{-$value.title-}-">&nbsp;<i class="uk-icon--{-$value.icon-}-"></i>&nbsp;</a>
		-{-/foreach-}-
			-{-/if-}-
		</div>
		<form id="expense-list" class="uk-form" method="post" action="-{-$DBA_URL-}-payments/detail.html">
		<input type="hidden" name="module" value="payments">
		<input type="hidden" name="action" value="detail">
		<div class="uk-overflow-container">
			<table class="uk-table uk-table-striped uk-table-condensed uk-table-hover" style="margin-top:0px;">
				<caption>-{-$smarty.const._PAYMENTS_LIST_HEADER-}-</caption>
					<thead>
						<tr>
							<th>-{-$smarty.const._PAYMENTS_LIST_DATE-}-</th>
							<th>-{-$smarty.const._PAYMENTS_LIST_ORDER-}-</th>
							<th>-{-$smarty.const._PAYMENTS_LIST_DESCRIPTION-}-</th>
							<th>-{-$smarty.const._PAYMENTS_LIST_TYPE-}-</th>
							<th>-{-$smarty.const._PAYMENTS_AMOUNT-}-</th>
							<th class="uk-text-right">-{-$smarty.const._PAYMENTS_LIST_ACTIONS-}-</th>
						</tr>
					</thead>
					<tbody>
						-{-foreach from=$payments item=value-}-
							<tr class="-{-$value.color-}- uk-table-middle">
							<td>-{-$value.date-}-</td>
							<td>-{-$value.order_nr-}-</td>
							<td><div class="uk-scrollable-text" style="height:20px;max-width:250px;">-{-$value.note-}-</div></td>
							<td>-{-$value.type-}-</td>
							<td><i class="uk-icon--{-$prefs.currency-}-"></i> -{-$value.amount-}-</td>
							<td class="uk-text-right">
								<div class="uk-button-group">
									-{-if $smarty.const.LICENCE_VALID == "VALID"-}-
									<button class="uk-button" type="submit" name="edit" value="-{-$value.id-}-" title="-{-$smarty.const._PAYMENTS_LIST_ACTIONS_EDIT-}-"><i class="uk-icon-pencil-square"></i></button>
									<button class="uk-button" id="payment-delete-{-$value.id-}-" type="submit" name="delete" value="-{-$value.id-}-" title="-{-$smarty.const._PAYMENTS_LIST_ACTIONS_DELETE-}-"><i class="uk-icon-trash"></i></button>
									-{-/if-}-
								</div>
							</td>
							</tr>
							-{-/foreach-}-
					</tbody>
				</table>
			</div>
		</form>
	</div>
</div>
<script>
$(document).ready(function() {
		$('[id^="payment-delete"]').click(function(event) {
				if( !confirm('-{-$smarty.const._PAYMENTS_LIST_ACTIONS_DELETE_CONFIRM-}-') )
						event.preventDefault();
		});
});
</script>
-{-/if-}-
