<div class="uk-width-large-1-1 uk-width-small-1-1">
	<div class="uk-panel uk-panel-box uk-panel-box-secondary">
		<h1 class="uk-panel-title">-{-$smarty.const._PAYMENTS_INFO_HEADING-}-</h1>
		<p>-{-$smarty.const._PAYMENTS_INFO_EDIT-}-</p>
	</div>
</div>
<div class="uk-width-large-1-1 uk-width-small-1-1">
	<div class="uk-panel uk-panel-box">
		<form method="POST" class="uk-form uk-form-horizontal" action="-{-$DBA_URL-}-payments.html">
			<fieldset class="data-uk-margin">
			<legend>-{-$smarty.const._PAYMENTS_ACTION_EDIT_TITLE-}-</legend>
			<input type="hidden" name="module" value="payments">
			<input type="hidden" name="action" value="edit-save">
			<input type="hidden" name="id" value="-{-$payment.id-}-">
			<section class="uk-form-row">
				<label class="uk-form-label" for="date">-{-$smarty.const._PAYMENTS_DATE-}-</label>
				<div class="uk-form-controls">
					<input class="uk-width-1-1" id="date" placeholder ="YYYY-MM-DD" type="text" name="date" value="-{-$payment.date-}-" required data-uk-datepicker="{format:'YYYY-MM-DD'}">
				</div>
			</section>
			<section class="uk-form-row">
			<label class="uk-form-label" for="order_id">-{-$smarty.const._PAYMENTS_SELECT_ORDER-}-</label>
			<div class="uk-form-controls">
				<select name="order_id" class="uk-width-1-1" required>
					<option disabled selected value="0"> -- -{-$smarty.const._PAYMENTS_SELECT_ORDER -}--- </option>
					-{-foreach from=$orders item=value-}-
						<option value="-{-$value.id-}-" -{-$value.selected-}-><strong>order</strong> #:-{-$value.number-}- | <strong>Customer</strong>:-{-$value.customer-}- | <strong>Date</strong>:-{-$value.date-}--{-if $value.description!=""-}- | <strong>Description</strong>: -{-$value.description-}--{-/if-}-</option>
					-{-/foreach-}-
					</select>
			</div>
		</section>
			<section class="uk-form-row">
			<label class="uk-form-label" for="order_description">-{-$smarty.const._PAYMENTS_DESCRIPTION-}-</label>
			<div class="uk-form-controls">
				<p class="uk-form-help-block">-{-$smarty.const._PAYMENTS_DESCRIPTION_HELP-}-</p>
				<textarea class="uk-width-1-1" id="note" name="note">-{-$payment.note-}-</textarea>
				<script>
					CKEDITOR.replace( 'note',
					{
						on :
						{
							instanceReady : function( ev )
							{
								// Output paragraphs as <p>Text</p>.
								this.dataProcessor.writer.setRules( 'p',
								{
									indent : false,
									breakBeforeOpen : false,
									breakAfterOpen : false,
									breakBeforeClose : false,
									breakAfterClose : false
								});
							}
						}
				 });
				</script>
			</div>
			</section>
			<section class="uk-form-row">
				<label class="uk-form-label" for="timezone">-{-$smarty.const._PAYMENTS_AMOUNT-}-</label>
					<div class="uk-form-controls">
						<div class="uk-form-icon uk-width-1-1">
							<i class="uk-icon--{-$currency-}-"></i>
							<input class="uk-width-1-1" id="amount" type="number" step="0.01" name="amount" value="-{-$payment.amount-}-" required>
						</div>
					</div>
			</section>
			<section class="uk-form-row">
				<label class="uk-form-label" for="type">-{-$smarty.const._PAYMENTS_TYPE-}-</label>
					<div class="uk-form-controls">
						<input class="uk-width-1-1" id="type" type="text" class="uk-width-1-1" name="type" value="-{-$payment.type-}-" required>
					</div>
			</section>
			<section class="uk-form-row uk-margin-top">
				<div class="uk-form-icon uk-width-1-1">
					<i class="uk-icon-arrow-circle-right db-white"></i>
					<input type="submit" class="uk-button uk-button-primary uk-width-1-1 db-white" value="-{-$smarty.const._POST_SAVE-}-">
				</div>
			</section>
			</fieldset>
		</form>
	</div>
</div>
