<div class="uk-width-large-1-3 uk-width-small-1-1">
	<div class="uk-panel uk-panel-box uk-panel-box-secondary">
		<h1 class="uk-panel-title">-{-$smarty.const._PREFS_INFO_HEADING-}-</h1>
		<p>-{-$smarty.const._PREFS_INFO_TEXT-}-</p>
	</div>
</div>
<div class="uk-width-large-2-3 uk-width-small-1-1">
	<div class="uk-panel uk-panel-box">
		<form method="POST" class="uk-form uk-form-horizontal" action="-{-$DBA_URL-}-preferences/settings.html">
			<fieldset class="data-uk-margin">
			<legend>-{-$smarty.const._PREFS_STATUS-}-</legend>
			<input type="hidden" name="module" value="settings">
			<section class="uk-form-row">
				<label class="uk-form-label" for="appname">-{-$smarty.const._PREFS_APPNAME-}-</label>
				<div class="uk-form-controls">
					<input id="appname" class="uk-width-1-1" name="appname" value="-{-$appname-}-" required>
				</div>
			</section>
			<section class="uk-form-row">
				<label class="uk-form-label" for="language">-{-$smarty.const._PREFS_LANGUAGE-}-</label>
				<div class="uk-form-controls">
					<select id="language" name="language" class="uk-width-1-1">
					-{-foreach $languages as $value-}-
						<option value="-{-$value-}-" -{-if $language==$value-}-selected-{-/if-}->-{-$value-}-</option>
					-{-/foreach-}-
					</select>
				</div>
			</section>
			<section class="uk-form-row">
				<label class="uk-form-label" for="theme">-{-$smarty.const._PREFS_THEME-}-</label>
				<div class="uk-form-controls">
					<select id="theme" name="theme" class="uk-width-1-1">
					-{-foreach $themes as $value-}-
						<option value="-{-$value-}-" -{-if $theme_name==$value-}-selected-{-/if-}->-{-$value-}-</option>
					-{-/foreach-}-
					</select>
				</div>
			</section>
			<section class="uk-form-row">
				<label class="uk-form-label" for="colorscheme">-{-$smarty.const._PREFS_COLORSCHEME-}-</label>
				<div class="uk-form-controls">
					<select id="colorscheme" name="colorscheme" class="uk-width-1-1">
					-{-foreach $colorschemes as $value-}-
						<option value="-{-$value.css-}-" -{-if $colorscheme==$value.css-}-selected-{-/if-}->-{-$value.name-}-</option>
					-{-/foreach-}-
					</select>
				</div>
			</section>
			<section class="uk-form-row">
				<label class="uk-form-label" for="timezone">-{-$smarty.const._PREFS_TIMEZONE-}-</label>
					<div class="uk-form-controls">
						<input id="timezone" class="uk-width-1-1" name="timezone" value="-{-$timezone-}-">
					</div>
			</section>
			<section class="uk-form-row">
				<label class="uk-form-label" for="currency">-{-$smarty.const._PREFS_PREFERED_CURRENCY-}-</label>
				<div class="uk-form-controls">
					<select id="currency" name="currency" class="uk-width-1-1">
					-{-foreach $currencies as $value-}-
						<option value="-{-$value.name-}-" -{-if $currency==$value.name-}-selected-{-/if-}->-{-$value.name-}-</option>
					-{-/foreach-}-
					</select>
				</div>
			</section>
			<section class="uk-form-row">
				<label class="uk-form-label" for="paydays">-{-$smarty.const._PREFS_PAYDAYS-}-</label>
					<div class="uk-form-controls">
						<input id="paydays" type="number" class="uk-width-1-1" name="paydays" value="-{-$paydays-}-" required>
					</div>
			</section>
			<section class="uk-form-row">
				<label class="uk-form-label" for="order_number">-{-$smarty.const._PREFS_ORDERNR-}-</label>
					<div class="uk-form-controls uk-text-left uk-width-1-2">
						<table>
							<tr>
								<td><input id="paydays" type="radio" class="uk-width-1-6" name="order_number" value="1" -{-if $order_number=="1"-}- checked-{-/if-}-></td>
								<td class="uk-text-left">YYMMDD/# (e.g. 161210/33)</td>
							</tr>
							<tr>
								<td><input id="paydays" type="radio" class="uk-width-1-6" name="order_number" value="2" -{-if $order_number=="2"-}- checked-{-/if-}->
								</td>
								<td class="uk-text-left"># (e.g. 33)</td>
							</tr>
						</table>
					</div>
			</section>
		<!-- mail setup -->
			</fieldset>
			<fieldset class="data-uk-margin uk-margin-top">
				<legend>-{-$smarty.const._PREFS_SMTP_LEGEND-}-</legend>
				<section class="uk-form-row">
					<label class="uk-form-label" for="smtp_host">-{-$smarty.const._PREFS_SMTP_HOST-}-</label>
					<div class="uk-form-controls">
					-{-$smtp.host-}-
						<input id="smtp_host" class="uk-width-1-1" name="smtp_host" value="-{-if $psmtp.status-}--{-$psmtp.host-}--{-/if-}-">
					</div>
				</section>
				<section class="uk-form-row">
					<label class="uk-form-label" for="smtp_port">-{-$smarty.const._PREFS_SMTP_PORT-}-</label>
					<div class="uk-form-controls">
						<input type="number" id="smtp_port" class="uk-width-1-1" name="smtp_port" value="-{-if $psmtp.status-}--{-$psmtp.port-}--{-else-}-25-{-/if-}-">
					</div>
				</section>
				<section class="uk-form-row">
					<label for="smtp_auth" class="uk-form-label">-{-$smarty.const._PREFS_SMTP_AUTH-}-</label>
					<div class="uk-form-controls uk-text-left uk-form-controls-text">
						<input type="checkbox" id="smtp_auth" name="smtp_auth" value="1" -{-if $psmtp.status-}--{-if $psmtp.auth==1-}-checked-{-/if-}--{-/if-}->
					</div>
				</section>
				<section class="uk-form-row">
					<label class="uk-form-label" for="smtp_user">-{-$smarty.const._PREFS_SMTP_USER-}-</label>
					<div class="uk-form-controls">
						<input id="smtp_user" class="uk-width-1-1" name="smtp_user" value="-{-if $psmtp.status-}--{-$psmtp.user-}--{-/if-}-">
					</div>
				</section>
				<section class="uk-form-row">
					<label class="uk-form-label" for="smtp_pass">-{-$smarty.const._PREFS_SMTP_PASS-}-</label>
					<div class="uk-form-controls">
						<input id="smtp_pass" class="uk-width-1-1" type="password" name="smtp_pass" value="-{-if $psmtp.status-}--{-$psmtp.pass-}--{-/if-}-">
					</div>
				</section>
			</fieldset>
			<section class="uk-form-row uk-margin-top">
				<div class="uk-form-icon uk-width-1-1">
					<i class="uk-icon-arrow-circle-right db-white"></i>
					<input type="submit" class="uk-button uk-button-primary uk-width-1-1 db-white" value="-{-$smarty.const._POST_SAVE-}-">
				</div>
			</section>
		</form>
	</div>
</div>
