<div class="uk-width-large-1-1 uk-width-small-1-1">
	<div class="uk-panel uk-panel-box uk-panel-box-secondary">
		<h1 class="uk-panel-title">-{-$smarty.const._QUOTES_INFO_HEADING-}-</h1>
		<p>-{-$smarty.const._QUOTES_INFO_TEXT-}-</p>
		<p>-{-$additional_info-}-</p>
	</div>
</div>
-{-$nocustomers-}-
-{-if $nocustomers == false -}-
<div class="uk-width-large-1-1 uk-width-small-1-1">
	<div class="uk-panel uk-panel-box">
	<form class="uk-form uk-form-horizontal" id="orderform" method="POST" action="-{-$DBA_URL-}-quotes.html">
		<fieldset class="data-uk-margin">
		<legend>-{-$smarty.const._QUOTES_LABEL_NEW-}-</legend>
		<input type="hidden" name="module" value="quotes">
		<input type="hidden" name="action" value="new">
		<section class="uk-form-row">
			<label class="uk-form-label" for="date">-{-$smarty.const._QUOTES_DATE-}-</label>
			<div class="uk-form-controls">
				<input class="uk-width-1-1" id="date" placeholder ="YYYY-MM-DD" type="text" name="date" value="" required data-uk-datepicker="{format:'YYYY-MM-DD'}">
			</div>
		</section>
		<section class="uk-form-row">
			<label class="uk-form-label" for="customer_id">-{-$smarty.const._QUOTES_CUSTOMERS_NAME-}-</label>
			<div class="uk-form-controls">
				<select id="order_customer" name="customer_id" class="uk-width-1-1" required>
					<option disabled -{-if !$customer_id-}-selected-{-/if-}- value="0"> -- -{-$smarty.const._QUOTES_SELECT_CUSTOMER -}--- </option>';
					-{-foreach from=$customers item=value-}-
						<option value="-{-$value.id-}-" required -{-if $customer_id-}--{-if $customer_id==$value.id-}-selected-{-/if-}--{-/if-}->-{-$value.name-}- (-{-$value.city-}-)</option>
					-{-/foreach-}-
					</select>
			</div>
		</section>
		<section id="contact-customer" class="uk-form-row">

		</section>
		<section class="uk-form-row">
			<label class="uk-form-label" for="order_description">-{-$smarty.const._QUOTES_DESCRIPTION-}-</label>
			<div class="uk-form-controls">
				<p class="uk-form-help-block">-{-$smarty.const._QUOTES_DESCRIPTION_HELP-}-</p>
				<textarea class="uk-width-1-1" id="description" name="description"></textarea>
				<script>
					CKEDITOR.replace( 'order_description',
					{
						on :
						{
							instanceReady : function( ev )
							{
								// Output paragraphs as <p>Text</p>.
								this.dataProcessor.writer.setRules( 'p',
								{
									indent : false,
									breakBeforeOpen : false,
									breakAfterOpen : false,
									breakBeforeClose : false,
									breakAfterClose : false
								});
							}
						}
				 });
				</script>
			</div>
		</section>
		<section class="uk-form-row">
			<label class="uk-form-label" for="description_internal">-{-$smarty.const._QUOTES_NOTE_INTERNAL-}-</label>
			<div class="uk-form-controls">
				<p class="uk-form-help-block">-{-$smarty.const._QUOTES_NOTE_INTERNAL_HELP-}-</p>
				<textarea class="uk-width-1-1" id="description_internal" name="description_internal"></textarea>
			</div>
		</section>
		</fieldset>
		<fieldset class="data-uk-margin uk-width-1-1">
		<legend>-{-$smarty.const._QUOTES_ITEM_ITEMS-}-</legend>
		<section class="uk-form-row">
		<div class="uk-width-1-1 uk-panel uk-display-inline-block uk-panel-box uk-margin-remove">
			<table class="uk-table" id="itemlines">
			<caption>-{-$smarty.const._QUOTES_ITEM_ITEMS-}-</caption>
			<thead>
				<tr>
					<th class="uk-text-small uk-text-center">-{-$smarty.const._QUOTES_ITEM_AMOUNT-}-</th>
					<th class="uk-text-small">-{-$smarty.const._QUOTES_ITEM_ITEM-}-</th>
					<th class="uk-text-small uk-text-center">-{-$smarty.const._QUOTES_ITEM_VAT_PERCENTAGE-}-</th>
					<th class="uk-text-small uk-text-center">-{-$smarty.const._QUOTES_ITEM_PRICE-}-</th>
					<th class="uk-text-small uk-text-center">-{-$smarty.const._QUOTES_ITEM_TOTAL-}-</th>
					<th class="uk-text-small uk-text-center">-{-$smarty.const._QUOTES_ITEM_ADD_TEMPLATE-}-</th>
				</tr>
			</thead>
			<tfoot></tfoot>
			<tbody>
				<tr id="0">
				<td class="uk-width-1-10"><input id="amount0" class="uk-width-1-1" type="number" name="order_item_amount[]" value="1" step="1"></td>
				<td class="uk-width-6-10"><input id="description0" class="uk-width-1-1" type="text" name="order_item_description[]" value=""></td>
				<td class="uk-width-1-10"><input id="vat0" class="uk-width-1-1" type="text" name="order_item_vat[]" value=""></td>
				<td class="uk-width-1-10"><input id="price0" class="uk-width-1-1" type="text" name="order_item_price[]" value=""></td>
				<td class="uk-width-1-10"><input id="total0" class="uk-width-1-1" type="text" name="order_item_total[]" value=""></td>
				<td class="uk-width-1-10">
				-{-if $noitems-}-
				-{-$smarty.const._QUOTES_NO_ITEMS-}-
				-{-else-}-
					<select id="template0">
						<option value="0" disabled selected value>Pick from template</option>
						-{-foreach from=$items item=item-}-
						<option data-name="-{-$item.name-}-" data-price="-{-$item.amount-}-" data-vat="-{-$item.vat-}-" value="-{-$item.id-}-">-{-$item.name-}-</option>
						-{-/foreach-}-
						</select>
				-{-/if-}-
				</td>
				</tr>
				<tr id="1">
				<td class="uk-width-1-10"><input id="amount1" class="uk-width-1-1" type="number" name="order_item_amount[]" value="1" step="1" required></td>
				<td class="uk-width-6-10"><input id="description1" class="uk-width-1-1" type="text" name="order_item_description[]" value="" required></td>
				<td class="uk-width-1-10"><input id="vat1" class="uk-width-1-1" type="text" name="order_item_vat[]" value="" required></td>
				<td class="uk-width-1-10"><input id="price1" class="uk-width-1-1" type="text" name="order_item_price[]" value="" required></td>
				<td class="uk-width-1-10"><input id="total1" class="uk-width-1-1" type="text" name="order_item_total[]" value="" required></td>
				<td class="uk-width-1-10">
				-{-if $noitems-}-
				-{-$smarty.const._QUOTES_NO_ITEMS-}-
				-{-else-}-
					<select name="" id="template1">
						<option value="0" disabled selected value>Pick from template</option>
						-{-foreach from=$items item=item-}-
						<option data-name="-{-$item.name-}-" data-price="-{-$item.amount-}-" data-vat="-{-$item.vat-}-" value="-{-$item.id-}-">-{-$item.name-}-</option>
						-{-/foreach-}-
						</select>
				-{-/if-}-
				</td>
				</tr>
				<tr id="addrow"></tr>
			</tbody>
			</table>
		</div>
		<div class="uk-width-1-1">
			<a id="add_row" class="uk-button uk-button-primary uk-align-left">-{-$smarty.const._QUOTES_ITEM_ADD_ROW-}-</a>
			<a id="delete_row" class="uk-button uk-button-primary uk-align-right">-{-$smarty.const._QUOTES_ITEM_DEL_ROW-}-</a>
		</div>
			</section>
		<section class="uk-form-row uk-margin-large">
			<div class="uk-width-1-1 uk-panel uk-display-inline-block uk-panel-box uk-panel-box-primary">
			<table id="tab_logic" class="uk-table uk-margin-large">
			<thead>
				<tr class="uk-table-middle">
					<th colspan="2" class="uk-width-5-10 uk-text-right">-{-$smarty.const._QUOTES_TOTAL_EX-}-</th>
					<th colspan="2" class="uk-width-2-10 uk-text-right">-{-$smarty.const._QUOTES_TOTAL_VAT-}-</th>
					<th colspan="2" class="uk-width-2-10 uk-text-right">-{-$smarty.const._QUOTES_TOTAL_IN-}-</th>
				</tr>
			</thead>
			<tfoot></tfoot>
			<tbody>
				<tr class="uk-table-middle">
				<td class="uk-width-1-10 uk-text-right"><i class="uk-icon--{-$currency-}-"></i></td>
				<td class="uk-width-2-10"><input class="uk-width-1-1" id="order_total_ex" type="text" name="order_total_ex" value="" required></td>
				<td class="uk-width-1-10 uk-text-right"><i class="uk-icon--{-$currency-}-"></i></td>
				<td class="uk-width-2-10"><input class="uk-width-1-1 " id="order_total_vat" type="text" name="order_total_vat" value="" required></td>
				<td class="uk-width-1-10 uk-text-right"><i class="uk-icon--{-$currency-}-"></i></td>
				<td class="uk-width-2-10"><input class="uk-width-1-1" id="order_total_in" type="text" name="order_total_in" value="" required></td>
				</tr>
			</tbody>
			</table>
		</div>
		</section>
		<section class="uk-form-row">
			<div class="uk-form-icon uk-width-1-1">
				<i class="uk-icon-arrow-circle-right db-white"></i>
				<input class="uk-button uk-button-primary uk-width-1-1 db-white" type="submit" value="-{-$smarty.const._POST_SAVE-}-">
			</div>
		</section>
		<section class="uk-form-row">
			<div class="uk-width-1-1 uk-panel"></div>
		</section>
		</fieldset>
	</form>
</div>
	</div>
	<script src="-{-$DBA_URL-}-assets/js/orders.js"></script>
-{-if $customer_id-}-
 <script>
	 $(document).ready(function()
		{
		 $('#order_customer').trigger("change");
	 });
 </script>
-{-/if-}-
 <script>
	 $(document).ready(function()
		{
		 $('#order_customer').on("change", function(){ // Load the notes
				$("#contact-customer").load( "-{-$smarty.const.DBA_URL-}-api.html", { module : "api", action : "showcontact", id : $(this).val()});
		});
	 });
 </script>
-{-/if-}-
