-{-if $years == false -}-
<div class="uk-width-1-1">
	<div class="uk-panel uk-panel-box uk-panel-box-secondary">
		<h1 class="uk-panel-title">-{-$smarty.const._TAXES_INFO_HEADING-}-</h1>
		<p>-{-$smarty.const._TAXES_INFO_TEXT-}-</p>
		<p>-{-$additional_info-}-</p>
	</div>
</div>
-{-else-}-
<div class="uk-width-1-1">
	<div class="uk-panel uk-panel-box uk-panel-box-secondary">
		<h1 class="uk-panel-title">-{-$smarty.const._TAXES_INFO_HEADING-}-</h1>
		<p>-{-$smarty.const._TAXES_INFO_TEXT-}-</p>
		<p>-{-$additional_info-}-</p>
	</div>
</div>
<div class="uk-width-1-1 uk-margin">
	<div class="uk-panel uk-panel-box uk-panel-box-primary">
		<form class="dba-tax-heading">
			<select id="year" name="year" class="uk-width-1-1 uk-form-small" required>
				<option value="-{-$current_year-}-" selected>-{-$current_year-}-</option>
				-{-foreach from=$years item=year-}-
				<option value="-{-$year-}-">-{-$year-}-</option>
				-{-/foreach-}-
			</select>
		</form>
	</div>
</div>
<div id="api-load-taxes" class="uk-width-1-1">
	<div class="uk-width-1-1 uk-panel uk-panel-box uk-panel-box-secondary">
		<div class="uk-panel uk-margin uk-text-left uk-width-1-1">
			<p class="uk-text-center"><i class="uk-icon-large uk-icon-spinner uk-icon-spin"></i></p>
		</div>
	</div>
</div>

<script>
	$(document).ready(function()
	 {
		$('#year').on("change", function(){ // Load the notes
			$("#api-load-taxes").html( '<div class="uk-width-1-1 uk-panel uk-panel-box uk-panel-box-secondary"><div class="uk-panel uk-margin uk-text-left uk-width-1-1"><p class="uk-text-center"><i class="uk-icon-large uk-icon-spinner uk-icon-spin"></i></p></div></div>' );
			 $("#api-load-taxes").load( "-{-$smarty.const.DBA_URL-}-api.html", { module : "api", action : "taxes", year : $(this).val()});
	 });
	 $('#year').trigger("change");
	});
</script>
-{-/if-}-
