<div class="uk-width-large-1-1 uk-width-small-1-1">
	<div class="uk-panel uk-panel-box uk-panel-box-secondary">
		<h1 class="uk-panel-title">-{-$smarty.const._TRANSLATE-}-</h1>
		<p>Manage translations</p>
		<p>-{-$additional_info-}-</p>
	</div>
</div>
<div class="uk-width-large-1-1 uk-width-small-1-1 uk-margin-top">
	<div class="uk-panel uk-panel-box">
		<form id="language-step1" class="uk-form" method="post" action="-{-$DBA_URL-}-translate/step4/save.html">
		<input type="hidden" name="module" value="translate">
		<input type="hidden" name="action" value="save">
		<input type="hidden" name="language" value="-{-$language-}-">
		<input type="hidden" name="cat" value="-{-$cat-}-">
		<table class="uk-table">
			<caption>Translate from English to -{-$language-}- for the category : -{-$cat-}-</caption>
			<thead>
				<tr>
					<th>Keyword</th>
					<th>english</th>
					<th>-{-$language-}-</th>
				</tr>
			</thead>
			<tbody>
				-{-foreach from=$english key=k item=v name=lijst-}-
				<tr class="uk-table-middle">
					<td class="uk-width-3-10"><span style="min-width:20px;margin-right:5px;display:inline-block">-{-$smarty.foreach.lijst.iteration-}-</span>-{-$k-}-</td><td class="uk-width-3-10">-{-$v|escape-}-</td><td class="uk-width-4-10"><input class="uk-width-1-1" name="-{-$k-}-" value="-{-if $other != false && isset($other.$k)-}--{-$other.$k-}--{-/if-}-"></td>
				</tr>
				-{-/foreach-}-
			</tbody>
		</table>
		<section class="uk-form-row">
			<div class="uk-form-icon uk-width-1-1">
				<i class="uk-icon-arrow-circle-right db-white"></i>
				<input class="uk-button uk-button-primary uk-width-1-1 db-white" type="submit" value="Save..">
			</div>
		</section>

	</div>
</div>
