<div class="uk-width-large-1-1 uk-width-small-1-1">
	<div class="uk-panel uk-panel-box uk-panel-box-secondary">
		<h1 class="uk-panel-title">-{-$smarty.const._TRANSLATE-}-</h1>
		<p>Manage translations</p>
		<p>-{-$additional_info-}-</p>
	</div>
</div>
<div class="uk-width-large-1-1 uk-width-small-1-1 uk-margin-top">
	<div class="uk-panel uk-panel-box">

		<h1 class="uk-panel-title">Choose category</h1>
		<form id="language-step1" class="uk-form" method="post" action="-{-$DBA_URL-}-translate/step3/translate.html">
		<input type="hidden" name="module" value="translate">
		<input type="hidden" name="action" value="translate">
		<input type="hidden" name="language" value="-{-$language-}-">

		<section class="uk-form-row uk-text-center">
			<select name="cat" class="uk-width-1-2 uk-text-center">
			-{-foreach from=$cats item=cat-}-
				<option value="-{-$cat-}-">-{-$cat-}-</option>
			-{-/foreach-}-
			</select>
		</section>
		<section class="uk-form-row">
			<div class="uk-form-icon uk-width-1-1">
				<i class="uk-icon-arrow-circle-right db-white"></i>
				<input class="uk-button uk-button-primary uk-width-1-1 db-white" type="submit" value="Continue..">
			</div>
		</section>

	</div>
</div>
