<div class="uk-width-large-1-1 uk-width-small-1-1">
	<div class="uk-panel uk-panel-box uk-panel-box-secondary">
		<div class="uk-button-group uk-text-right uk-width-1-1 uk-float-right">
			-{-foreach from=$action_menu item=value-}-
				<a class="uk-button uk-button-primary uk-button-mini" href="-{-$value.link-}-" title="-{-$value.title-}-">&nbsp;<i class="uk-icon--{-$value.icon-}-"></i>&nbsp;</a>
			-{-/foreach-}-
		</div>
		<h1 class="uk-panel-title">-{-$smarty.const._TRANSLATE-}-</h1>
		<p>Manage translations</p>
		<p>-{-$additional_info-}-</p>
	</div>
</div>
<div class="uk-width-large-1-1 uk-width-small-1-1 uk-margin-top">
	<div class="uk-panel uk-panel-box">

		<h1 class="uk-panel-title">What to translate</h1>
		<p>You can either edit an existing language file (other than English) or create a new language (plus button top right)</p>
		-{-if $languages != false-}-
		<form id="language-step1" class="uk-form" method="post" action="-{-$DBA_URL-}-translate/step2/category.html">
		<input type="hidden" name="module" value="translate">
		<input type="hidden" name="action" value="category">
		<section class="uk-form-row uk-text-center">
			<select name="language" class="uk-width-1-2 uk-text-center">
			-{-foreach from=$languages item=language-}-
				<option value="-{-$language-}-">-{-$language-}-</option>
			-{-/foreach-}-
			</select>
		</section>
		<section class="uk-form-row">
			<div class="uk-form-icon uk-width-1-1">
				<i class="uk-icon-arrow-circle-right db-white"></i>
				<input class="uk-button uk-button-primary uk-width-1-1 db-white" type="submit" value="Continue..">
			</div>
		</section>
		-{-/if-}-

	</div>
</div>
