<div class="uk-width-large-1-3 uk-width-small-1-1">
	<div class="uk-panel uk-panel-box uk-panel-box-secondary">
		<h1 class="uk-panel-title">-{-$smarty.const._VAT_INFO_HEADING-}-</h1>
		<p>-{-$smarty.const._VAT_INFO_TEXT-}-</p>
		<p>-{-$additional_info-}-</p>
	</div>
</div>
<div class="uk-width-large-2-3 uk-width-small-1-1">
	<div class="uk-panel uk-panel-box">
	-{-if $action=="empty"-}-
	<div class="uk-button-group">
		-{-foreach from=$action_menu item=value-}-
			<a class="uk-button uk-button-primary uk-button-mini" href="-{-$value.link-}-" title="-{-$value.title-}-"><i class="uk-icon--{-$value.icon-}-"></i></a>
		-{-/foreach-}-
	</div>
	-{-/if-}-
	-{-if $action=="list"-}-
	<div class="uk-button-group uk-text-right uk-width-1-1 uk-text-right">
		-{-if $smarty.const.LICENCE_VALID == "VALID"-}-
		-{-foreach from=$action_menu item=value-}-
			<a class="uk-button uk-button-primary uk-button-mini" href="-{-$value.link-}-" title="-{-$value.title-}-">&nbsp;<i class="uk-icon--{-$value.icon-}-"></i>&nbsp;</a>
		-{-/foreach-}-
		-{-/if-}-
	</div>
	<div class="list">
		<form class="uk-form" method="post" action="-{-$DBA_URL-}-preferences/vats.html">
		<input type="hidden" name="module" value="vats">
		<input type="hidden" name="action" value="edit">
		<table class="uk-table">
			<thead>
				<tr>
					<th>-{-$smarty.const._VAT_NAME-}-</th>
					<th colspan="2">-{-$smarty.const._VAT_VALUE-}-</th>
				</tr>
			</thead>
			<tbody>
		-{-foreach from=$vats item=value-}-
			<tr>
				<td>-{-$value.name-}-</td>
				<td>-{-$value.vat-}-%</td>
				<td class="uk-text-right">
					<div class="uk-button-group">
						-{-if $smarty.const.LICENCE_VALID == "VALID"-}-
						<button class="uk-button" type="submit" name="id" value="-{-$value.id-}-"><i class="uk-icon-pencil-square"></i>&nbsp;</button>
						-{-/if-}-
					</div>
				</td>
			</tr>
		-{-/foreach-}-
			</tbody>
		</table>
	</div>
	-{-/if-}-
	-{-if $action=="new"-}-

	<form class="uk-form uk-form-horizontal" method="POST" action="-{-$DBA_URL-}-preferences/vats.html">
		<fieldset class="data-uk-margin">
		<legend>-{-$smarty.const._VAT_LABEL_NEW-}-</legend>
		<input type="hidden" name="module" value="vats">
		<input type="hidden" name="action" value="new">
		<section class="uk-form-row">
			<label class="uk-form-label" for="vatname">-{-$smarty.const._VAT_NAME-}-</label>
			<div class="uk-form-controls">
				<input class="uk-width-1-1" id="vatname" type="text" name="vatname" value="">
			</div>
		</section>
		<section class="uk-form-row">
			<label class="uk-form-label" for="vatvalue">-{-$smarty.const._VAT_VALUE-}-</label>
			<div class="uk-form-controls">
				<input class="uk-width-1-1" id="vatvalue" type="number" name="vatvalue" value="" step="0.1">
			</div>
		</section>
		<section class="uk-form-row">
			<div class="uk-form-icon uk-width-1-1">
				<i class="uk-icon-arrow-circle-right db-white"></i>
				<input class="uk-button uk-button-primary uk-width-1-1 db-white" type="submit" value="-{-$smarty.const._POST_SAVE-}-">
			</div>
		</section>
		</fieldset>
	</form>
	-{-/if-}-
	-{-if $action=="edit"-}-
	<div class="uk-button-group uk-text-right uk-width-1-1 uk-text-right" style="float:right;">
		-{-foreach from=$action_menu item=value-}-
			<a class="uk-button uk-button-primary uk-button-mini" href="-{-$value.link-}-" title="-{-$value.title-}-">&nbsp;<i class="uk-icon--{-$value.icon-}-"></i>&nbsp;</a>
		-{-/foreach-}-
	</div>
	<form class="uk-form uk-form-horizontal" method="POST" action="-{-$DBA_URL-}-preferences/vats.html">
		<fieldset>
		<legend>-{-$smarty.const._VAT_LABEL_EDIT-}-</legend>
		<input type="hidden" name="module" value="vats">
		<input type="hidden" name="action" value="edit-save">
		<input type="hidden" name="id" value="-{-$vat.id-}-">
		<section class="uk-form-row">
		<label class="uk-form-label" for="vatname">-{-$smarty.const._VAT_NAME-}-</label>
		<div class="uk-form-controls">
			<input class="uk-width-1-1" id="vatname" type="text" name="vatname" value="-{-$vat.name-}-">
			</div>
		</section>
		<section class="uk-form-row">
			<label class="uk-form-label" for="vatvalue">-{-$smarty.const._VAT_VALUE-}-</label>
			<div class="uk-form-controls">
				<input class="uk-width-1-1" id="vatvalue" type="number" name="vatvalue" value="-{-$vat.vat-}-" step="0.1">
			</div>
		</section>
		<section class="uk-form-row">
			<div class="uk-form-controls uk-text-right">
				<input type="checkbox" name="delete" value="delete" /> delete
			</div>
			</section>
		<section class="uk-form-row">
			<div class="uk-form-icon uk-width-1-1">
				<i class="uk-icon-arrow-circle-right db-white"></i>
				<input class="uk-button uk-button-primary uk-width-1-1 db-white" type="submit" value="-{-$smarty.const._POST_SAVE-}-">
			</div>
		</section>
		</fieldset>
	</form>
	-{-/if-}-
</div>
	</div>
